{{ partial "header" . }}

<main class="page-sidebar">
    {{ partial "sidebars/shopList" . }}
    <article class="flow">
        {{ partial "pageTitle" . }}
        <div class="measured">
            {{ .Content }}
        </div>
        <div class="gallery-grid">
            {{ if (eq $.Parent.Title "Shop") }}
            {{ range where .Pages "Section" "shop" }}
            {{ partial "cards/productCard.html" . }}
            {{ end }}
            {{ else }}
            {{ range where .Site.RegularPages "Section" "shop" }}
            {{ partial "cards/productCard.html" . }}
            {{ end }}
            {{ end }}
        </div>
    </article>
</main>

{{ partialCached "footer" . }}
