{{ partial "header" . }}

<main class="page-sidebar">
    {{ partial "sidebars/shopList" . }}
    <article class="flow">
        {{ partial "pageTitle" . }}
        <div class="table-of-contents mini">
             <a class="active" href="/shop/">All</a>
             <a href="/shop/prints">Art Prints</a>
             <a href="/shop/originals">Originals</a>
             <a href="/shop/games">Games</a>
        </div>
        <div class="measured">
            {{ .Content }}
        </div>
        <div class="gallery-grid rows">
            {{ if (eq $.Parent.Title "Shop") }}
            {{ range where .Pages "Section" "shop" }}
                {{ if .Params.price }}
                {{ partial "cards/productCard.html" . }}
                {{ end }}
            {{ end }}
            {{ else }}
            {{ range where .Site.RegularPages "Section" "shop" }}
                {{ if .Params.price }}
                {{ partial "cards/productCard.html" . }}
                {{ end }}
            {{ end }}
            {{ end }}
        </div>
    </article>
</main>

{{ partial "footer" . }}
