{{ partial "header" . }}

<main>
  <div class="flex-row big-padding-top big-padding-bottom single-page">
    {{ partial "sidebars/worksSingle" . }}
    <article class="wrap single row product-page">
        <div class="flex-1 medium-padding-right">
          {{ with .Params.image }}
            <div class="image">
              <img src="{{ . }}"/>
            </div>
          {{ end }}
        </div>
        <div class="flex-1">
          <span class="dingbats accent">{{ partialCached "icons/weirdspiral" . }}</span>
          <h2 class="psych-1 accent">{{ .Title }}</h2>
              {{ with (.GetTerms "tags") }}
                <ul class="tags">
                  Tagged with {{ range . }}
                  <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
                  {{ end }}
                </ul>
              {{ end }}
            <div class="desc">
                {{ .Content }}
            {{ with .Params.price }}
              <p class="price">{{ . }}$ CAD</p>
            {{ end }}
            <button class="snipcart-add-item"
              data-item-id="{{ with .Params.id }}{{ . }}{{ end }}"
              data-item-price="{{ with .Params.price }}{{ . }}{{ end }}"
              data-item-url="{{ with .Params.productUrl }}{{ . }}{{ end }}"
              data-item-description="{{ with .Params.desc }}{{ . }}{{ end }}"
              data-item-image="{{ with .Params.image }}{{ . }}{{ end }}"
              data-item-name="{{ with .Title }}{{ . }}{{ end }}"
              data-item-weight="{{ with .Params.weight }}{{ . }}{{ end }}"
              data-item-length="{{ with .Params.length }}{{ . }}{{ end }}"
              data-item-height="{{ with .Params.height }}{{ . }}{{ end }}"
              data-item-width="{{ with .Params.width }}{{ . }}{{ end }}">
              Add to cart
            </button>
          </div>
            
            {{ if not .Lastmod.IsZero }}
        <div class="last-mod small-padding-top">
          Last modified on <strong>{{ .Lastmod.Format "2006-01-02" | safeHTML }}</strong>,
          published on <strong>{{ .Date.Format "2006-01-02" | safeHTML }}</strong>
        </div>
      {{ end }}
        </div>
    </article>
  </div>
</main>

{{ partialCached "footer" . }}
