{{ partial "header" . }}

<div class="wrap big-padding-top">
  <div class="page-title">
    <span class="dingbats">{</span>
    <h2 class="psych-1">Goods</h2>
    <span class="dingbats">{</span>
    <h3 class="psych-2">New folk artefacts and items</h3>
  </div>
  <div class="shop big-padding-top">
    <div class="flex-row flex-wrap big-padding-bottom shop-row">
      {{ range $.Site.Data.products.products }} {{ partial "productCard.html" . }} {{ end }}
    </div>
  </div>
</div>

{{ partial "footer" . }}
