{{ partial "header" . }}

<main>
  <div class="flex-row big-padding-top list-page">
    {{ partial "sidebars/craftList" . }}
    <article>
      <div class="small-wrap craft">
        {{ partial "listPageTitle" . }}
      </div>
      <div class="full-wrap">
        {{ .Content }}
        <div class="big-padding-top columns-2">
          {{ if (eq $.Parent.Title "Craft") }}
            {{ range where .Pages "Section" "craft" }}
              {{ partial "craftCard.html" . }}
            {{ end }}
          {{ else }}
          {{ range where .Site.RegularPages "Section" "craft" }}
            {{ partial "craftCard.html" . }}
          {{ end }}
          {{ end }}
        </div>
      </div>
    </article>
  </div>
</main>

{{ partialCached "footer" . }}
