{{ partial "header" . }}

<main>
  <div class="flex-row big-padding-top single-page">
    <aside class="sidebar">
      <div class="back-home">
        <a href="/{{ .Section }}/"><h3>Back to {{ .Section }}</h3></a>
      </div>
      {{ $section := where $.Site.RegularPages "Section" "craft"}}
      <h3 class="accent">Artefacts</h3>
      <ul class="section-pages">
      {{ range $section }}
        <li>
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
      {{ end }}
      </ul>
      <div id="icon-craft" class="icon"></div>
    </aside>
    <article class="wrap single">
      <h1 class="psych-1">{{ .Title }}</h1>
      {{ with (.GetTerms "tags") }}
        <ul class="tags">
          Tagged with {{ range . }}
          <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
          {{ end }}
        </ul>
      {{ end }}
      {{ .Content }}
      {{ if not .Lastmod.IsZero }}
        <div class="last-mod small-padding-top">
          Last modified on <strong>{{ .Lastmod.Format "2006-01-02" | safeHTML }}</strong>,
          published on <strong>{{ .Date.Format "2006-01-02" | safeHTML }}</strong>
        </div>
      {{ end }}
    </article>
  </div>
</main>

{{ partial "footer" . }}
