{{ partial "header" . }}

<main>
  <div class="flex-row big-padding-top list-page">
    {{ partial "sidebars/worksList" . }}
    <article>
      <div class="small-wrap">
        {{ partial "listPageTitle" . }}
      </div>
      <div class="full-wrap">
        {{ .Content }}
        <div class="columns-3 big-padding-top works">
          {{ range where .Site.RegularPages "Section" "works" }}
            {{ if in .Params.tags "music" }}
              {{ partial "projectCard.html" . }}
            {{ end}}
          {{ end }}
        </div>
      </div>
    </article>
  </div>
</main>

{{ partialCached "footer" . }}
