baseURL = "http://ritualdust.com/"
languageCode = "en-ca"
theme = "nodept"
title = "Ritual dust"
image = "/img/preview.png"

[markup]
  [markup.goldmark]
    [markup.goldmark.extensions]
      definitionList = true
      footnote = true
      linkify = true
      strikethrough = true
      table = true
      taskList = true
      typographer = true
    [markup.goldmark.parser]
      attribute = true
      autoHeadingID = true
      autoHeadingIDType = "github"
    [markup.goldmark.renderer]
      hardWraps = false
      unsafe = true
      xhtml = false

[frontmatter]
  date = ["date", "publishDate", "lastmod"]
  lastmod = ["lastmod", ":fileModTime", ":default"]
  publishDate = ["publishDate", "date"]
  expiryDate = ["expiryDate"]

[author]
      name = "Lizbeth Poirier"
