<div class="piano">
    <div class="key white c">c</div>
    <div class="key black "></div>
    <div class="key white d active">d</div>
    <div class="key black"></div>
    <div class="key white e">e</div>
    <div class="key white f">f</div>
    <div class="key black active"></div>
    <div class="key white g">g</div>
    <div class="key black"></div>
    <div class="key white a">a</div>
    <div class="key black"></div>
    <div class="key white b">b</div>    
    <div class="key white c">c</div>
    <div class="key black "></div>
    <div class="key white d">d</div>
    <div class="key black"></div>
    <div class="key white e">e</div>
    <div class="key white f">f</div>
    <div class="key black"></div>
    <div class="key white g">g</div>
    <div class="key black"></div>
    <div class="key white a">a</div>
    <div class="key black"></div>
    <div class="key white b">b</div>
</div>