<div class="product {{ with .Get "class" }}{{ . }}{{ end }}">
  {{ with .Get "image" }}
    <div class="image">
      <img src="{{ . }}"/>
    </div>
  {{ end }}
  <div class="desc">
    {{ with .Get "title" }}
      <h2>{{ . }}</h2>
    {{ end }}
    {{ with .Get "desc" }}
      <p class="product-desc">
        {{ . }}
      </p>
    {{ end }}
    {{ with .Get "price" }}
      <p class="price">{{ . }}$ CAD</p>
    {{ end }}
    <button class="snipcart-add-item"
      data-item-id="{{ with .Get "id" }}{{ . }}{{ end }}"
      data-item-price="{{ with .Get "price" }}{{ . }}{{ end }}"
      data-item-url="{{ with .Get "url" }}{{ . }}{{ end }}"
      data-item-description="{{ with .Get "desc" }}{{ . }}{{ end }}"
      data-item-image="{{ with .Get "image" }}{{ . }}{{ end }}"
      data-item-name="{{ with .Get "title" }}{{ . }}{{ end }}"
      data-item-weight="{{ with .Get "weight" }}{{ . }}{{ end }}"
      data-item-length="{{ with .Get "length" }}{{ . }}{{ end }}"
      data-item-height="{{ with .Get "height" }}{{ . }}{{ end }}"
      data-item-width="{{ with .Get "width" }}{{ . }}{{ end }}">
      Add to cart
    </button>
  </div>
</div>
