{{ $lowResPath := replace .Destination ".jpg" "-low.jpg" }}

{{ if .Title }}
  <figure>
    <div class="image-background">
      <img
        loading="lazy"
        class="to-toggle low"
        data-srclow="{{ $lowResPath | safeURL }}"
        data-srchi="{{ .Destination | safeURL }}"
        src="{{ $lowResPath | safeURL }}"
        alt="{{ .Text }}">
      </div>
    <figcaption class="subdued">{{ .Title }}</figcaption>
  </figure>
{{ else }}
  <figure>
    <div class="image-background">
      <img
        loading="lazy"
        class="to-toggle low"
        data-srclow="{{ $lowResPath | safeURL }}"
        data-srchi="{{ .Destination | safeURL }}"
        src="{{ $lowResPath | safeURL }}"
        alt="{{ .Text }}">
    </div>
  </figure>
{{ end }}
