{{ partial "header" . }}

<main>
  <div class="flex-row big-padding-top list-page">
    <div>
      <aside class="sidebar">
        <h3 class="accent">Pages</h3>
        <div class="small-padding-bottom">
          <ul class="section-pages">
          {{ range .Paginator.Pages }}
            <li>
              <a href="{{ .Permalink }}">{{ .Title }}</a>
            </li>
          {{ end }}
          </ul>
        </div>
        <div class="ornament"></div>
      </aside>
    </div>
    <article class="small-wrap">
      <div class="page-title">
        <span class="dingbats">+</span>
        <h1 class="psych-1">{{ .Title }}</h1>
        <span class="dingbats">+</span>
      </div>
      <div>
      {{.Content}}
      </div>
    </article>
  </div>
</main>

{{ partial "footer" . }}
