{{ partial "header" . }}

<main>
  <div class="flex-row big-padding-top single-page">
    {{ partial "sidebars/aboutSingle" . }}
    <article class="wrap">
      <span class="dingbats">{{ partialCached "icons/spiral" . }}</span>
      <h1 class="psych-1">{{ .Title }}</h1>
      {{ with (.GetTerms "tags") }}
        <ul class="tags">
          Tagged with {{ range . }}
          <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
          {{ end }}
        </ul>
      {{ end }}
      <div class="intro">
        {{.Params.intro}}
      </div>
      <div class="big-padding-top">
        {{ .Content }} 
        {{ if not .Lastmod.IsZero }}
          <div class="last-mod small-padding-top">
            Last modified on <strong>{{ .Lastmod.Format "2006-01-02" | safeHTML }}</strong>,
            published on <strong>{{ .Date.Format "2006-01-02" | safeHTML }}</strong>
          </div>
        {{ end }}
      </div>
    </article>
  </div>
</main>

{{ partialCached "footer" . }}
