{{ partial "header" . }}

<div class="flex-row big-padding-top single">
  <div class="sidebar">
    <div class="back-home">
      <a href="/{{ .Section }}/"><i class="fas fa-arrow-left"></i>Back to {{ .Section }}</a>
    </div>
    {{ $section := where $.Site.RegularPages "Section" "about"}}
    {{ range $section }}
      <li>
        <a href="{{ .Permalink }}">{{ .Title }}</a>
      </li>
    {{ end }}
  </div>
  <div class="wrap">
    <h1 class="psych-1">{{ .Title }}</h1>
    <div class="intro">
      {{.Params.intro}}
    </div>
    <div class="big-padding-top">
      {{ .Content }}
    </div>
  </div>
</div>

{{ partial "footer" . }}
