{{ partial "header" . }}
{{ $seen := "" }}
{{ $tosee := "" }}
{{ if eq .Params.media "books" }}
    {{ $seen = .Site.Data.books.read }}
    {{ $tosee = .Site.Data.books.toread }}
{{ else if eq .Params.media "movies" }}
    {{ $seen = .Site.Data.movies.watched }}
    {{ $tosee = .Site.Data.movies.towatch }}
{{ end }}

<main>
  <div class="flex-row big-padding-top single-page">
    {{ partial "sidebars/aboutSingle" . }}
    <article class="wrap">
      <span class="dingbats">{{ partialCached "icons/spiral" . }}</span>
      <h1 class="psych-1">{{ .Title }}</h1>
      {{ partial "tags" . }}
      <div class="big-padding-top">
        {{ .Content }} 
        <div class="row">
            <div class="flex-1 smaller-padding-right smaller-padding-left">
                {{ if eq .Params.media "books" }}
                    <h2>Read</h2>
                {{ else if eq .Params.media "movies" }}
                    <h2>Watched</h2>
                {{ end }}
                <div class="reverse">
                    {{ range $year, $books := $seen }}
                        <div class="year">
                            <div class="spacer"></div>
                            <h3>in {{ $year }}</h3>
                            {{ range $books }}
                                {{ partial "media" . }}
                            {{ end }}
                        </div> 
                    {{ end }}
                </div>
            </div>  
            <div class="flex-1 smaller-padding-right smaller-padding-left">
                {{ if eq .Params.media "books" }}
                    <h2>To read</h2>
                {{ else if eq .Params.media "movies" }}
                    <h2>To watch</h2>
                {{ end }}
                <div class="spacer"></div>
                <ul>
                    {{ range $tosee }}
                        <li class="to-read">
                            <span class="to-read-title">{{ .title }}</span>
                            <span class="to-read-infos accent">{{ .author }}</span>
                        </li>
                    {{ end }}
                </ul>  
            </div>  
          </div>
        {{ partial "page-meta" . }}
      </div>
    </article>
  </div>
</main>

{{ partialCached "footer" . }}


