{{ partial "header" . }}
{{ $seen := "" }}
{{ $tosee := "" }}
{{ if eq .Params.media "books" }}
{{ $seen = .Site.Data.books.read }}
{{ $tosee = .Site.Data.books.toread }}
{{ else if eq .Params.media "movies" }}
{{ $seen = .Site.Data.movies.watched }}
{{ $tosee = .Site.Data.movies.towatch }}
{{ else if eq .Params.media "games" }}
{{ $seen = .Site.Data.games.played }}
{{ $tosee = .Site.Data.games.toplay }}
{{ end }}

<main class="page-sidebar">
    {{ partial "sidebars/aboutSingle" . }}
    <article class="flow">
        {{ partial "pageTitle" . }}
        <div class="page-content">
            {{ .Content }} 
        </div>
        <div class="grid-2">
            <div>
                {{ if eq .Params.media "books" }}
                <h2>Read</h2>
                {{ else if eq .Params.media "movies" }}
                <h2>Watched</h2>
                {{ else if eq .Params.media "games" }}
                <h2>Played</h2>
                {{ end }}
                <div class="reverse">
                    {{ range $year, $books := $seen }}
                    <div class="year">
                        <h3>in {{ $year }}</h3>
                        {{ range $books }}
                        {{ partial "media" . }}
                        {{ end }}
                    </div> 
                    {{ end }}
                </div>
            </div>  
            <div>
                {{ if eq .Params.media "books" }}
                <h2>To read</h2>
                {{ else if eq .Params.media "movies" }}
                <h2>To watch</h2>
                {{ else if eq .Params.media "games" }}
                <h2>To play</h2>
                {{ end }}
                <ul>
                    {{ range $tosee }}
                    <li class="to-read">
                        <span class="to-read-title">{{ .title }}</span>
                        <span class="to-read-infos accent">{{ .author }}</span>
                    </li>
                    {{ end }}
                </ul>  
            </div>  
        </div>
        {{ partial "page-meta" . }}
    </article>
</main>

{{ partialCached "footer" . }}


