{{ partial "header" . }}

<main class="big-padding-top page-sidebar">
    {{ partial "sidebars/worksList" . }}
    <article>
        {{ partial "pageTitle" . }}
        <div class="measured">
            {{ .Content }}
        </div>
        <div class='gallery-grid works large-padding-top'>
            {{ range where .Site.RegularPages "Section" "works" }}
            {{ if in .Params.tags "personal" }}
            {{ partial "cards/projectCard.html" . }}
            {{ end}}
            {{ end }}
        </div>
    </article>
</main>

{{ partialCached "footer" . }}
