{{ partial "header" . }}

{{ $timeline := .Site.RegularPages.GroupByDate "Jan 2006" }}

<main class="timeline">
    <article class="flow">
        {{ partial "pageTitle" . }}
        <div class="measured">
            {{ .Content }}
            <div class="table-of-contents mini">
                <a href="#dec-2024">2024</a>
                <a href="#dec-2023">2023</a>
                <a href="#dec-2022">2022</a>
                <a href="#dec-2021">2021</a>
                <a href="#dec-2020">2020</a>
                <a href="#jan-2020">older</a>
            </div>
        </div>
        <div>
            {{ range $timeline }}
            <table class="simple">
                <thead>
                    <tr>
                        <th> <h2 id="{{ .Key | anchorize }}" class="accent">{{ .Key }}</h2></th>
                        <th>
                            <div class="stats">
                                {{ $pagesbysection := .Pages.GroupBy "Section"}}
                                {{ range $pagesbysection }}
                                <div class="stat accent">
                                    {{ if .Key }}
                                    {{ len .Pages }} {{ .Key }}
                                    {{ else }}
                                    {{ len .Pages }} page
                                    {{ end }}
                                </div>
                                {{ end }}
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {{ range .Pages}}
                    <tr>
                        <td>
                            {{ if eq .Section "works" }}
                            <span class="dingbats">{{ partialCached "icons/weirdspiral" . }}</span>
                            {{ else if eq .Section "folklore" }}
                            <span class="dingbats">{{ partialCached "icons/diamond" . }}</span>
                            {{ else if eq .Section "craft" }}
                            <span class="dingbats">{{ partialCached "icons/star" . }}</span>
                            {{ else if eq .Section "about" }}
                            <span class="dingbats">{{ partialCached "icons/spiral" . }}</span>
                            {{ else if eq .Section "food" }}
                            <span class="dingbats">{{ partialCached "icons/flower" . }}</span>
                            {{ else }}
                            <span class="dingbats">{{ partialCached "icons/weirdspiral" . }}</span>
                            {{ end}}
                            <a href="{{ .Permalink }}">{{ .Title }}</a><br/>
                        </td>
                        <td>
                            {{ with (.GetTerms "tags") }}
                            <ul class="tags">
                                Tagged with {{ range . }}
                                <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
                                {{ end }}
                            </ul>
                            {{ end }}
                        </td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
            {{ end }}
        </div>
    </article>
</main>

{{ partial "footer" . }}
