<div class="bio bio-portfolio grid-1-2">
  <div>
    <div class="name default-padding-bottom">
  <div id="icon-stamp" class="sigil-stamp icon"></div>
  <div>
    <a href="/about/">
      <h4 class="blackletter accent">Lizbeth Poirier</h4>
    </a>
  </div>
      </div>
</div>
  <div>
    Lizbeth Poirier is an illustrator and designer living in Tiohtià:ke (Montreal, Canada) with a passion for nature, folklore, fantasy, decolonial action, and the darker side of things. She combines ink, pencil and digital colors to create intricate and evocative illustrations.
      <br/>
      <div class="medium-padding-top">
          <span><a href="/portfolio">Home</a></span>
          <span class="big-padding-left"><a href="/portfolio/about">About</a></span>
          <span class="big-padding-left"><a href="mailto:lizbeth.poirier.m@gmail.com">Contact</a></span>
      </div>
  </div>
</div>
