{{$cover := .Params.image }}
{{ $lowResCover := replace .Params.image ".jpg" "-low.jpg" }}

<a href="{{ .Permalink }}" class="film-card {{ range .Params.tags }}{{ . }} {{ end }}">
  <div class="movie-wrap">
    <div class="movie">
      <img loading="lazy" class="high" src="{{ $cover | safeURL }}" alt="{{ .Title }}">
      <img loading="lazy" class="low" src="{{ $lowResCover | safeURL }}" alt="{{ .Title }}">
    </div>
    <div class="movie-content">
      <h3 class="blackletter small-padding-bottom">{{ .Title }} ({{ .Params.year }})</h3>
      <div class="director psych-2">Directed by<br/>{{ .Params.director }}</div>
      <div class="desc">{{ .Params.desc }}</div>
    </div>
  </div>

</a>
