{{ $cover := .Params.image }}
{{ $lowResCover := replace .Params.image ".jpg" "-low.jpg" }}

<a href="{{ if .Params.projectUrl }}{{ .Params.projectUrl}}{{ else }}{{ .Permalink }}{{ end }}" class="folklore-card {{ range .Params.tags }}{{ . }} {{ end }}">
  <div class="picture">
    <figure>
      <img loading="lazy" class="to-toggle low" src="{{ $lowResCover | safeURL }}" alt="{{ .Title }}">
    </figure>
  </div>
  <h4 class="blackletter small-padding-bottom">{{ .Title }}</h4>
  <div class="desc">{{ .Params.desc }}</div>
</a>
