<footer class="footer grey big-padding-top big-padding-bottom">
  <div class="wrap">
    <div class="flex-row">
      <div class="flex-1">
        Made in Montreal
      </div>
      <div class="flex-1">
        <a id="theme-toggle" class="dark"><i class="fas fa-sun"></i>Light mode</a>
      </div>
      <div class="flex-1">

      </div>
      <div class="flex-1">
        You can also find me on
        <a href="https://www.instagram.com/oilandsugar/" targer="_blank">instagram</a>,
        <a href="https://github.com/oilandsugar" targer="_blank">github</a>,
        <a href="https://angel.co/tommy-poirier-morissette" targer="_blank">angellist</a>
      </div>
    </div>
  </div>
</footer>
</body>
</html>
