{{ $currentPage := . }}
<nav class="menu" aria-label="site navigation">
    <div class="buttons">
        <div id="hasJavaScript" style="display: none" class="resolution-toggle">
            <button class="h" id="resolution-toggle" aria-label="Load high resolution images" title="Load high resolution images">Hi-res</button></div><div id="noscript" class="resolution-toggle"><button class="l" disabled aria-label="Low resolution resolution images only when no JS" title="Low resolution resolution images only when no JS">Only low-res</button></div>
        <div class="theme-mode-toggle"><button id="mode-switcher"><span class="dingbats sun">{{ partialCached "icons/star" . }}</span><span class="dingbats moon">{{ partialCached "icons/bat" . }}</span></button></div>
    </div>
    <ul>
        {{ range .Site.Menus.main }}
        {{ $menu_item_url := .URL }}
        {{ $page_url:= $currentPage.RelPermalink }}
        <li>
            <a class="{{ if eq $menu_item_url $page_url }}accent{{ end }}" href="{{ .URL }}">{{ .Name }}</a>
        </li>
        {{ end }}
    </ul>
    <div class="dingbat-wrapper"><span class="dingbats">{{ partialCached "icons/diamond" . }}</span></div>
    <div class="phases" id="phases"></div>
    <div class="snipcart-checkout"><a>View cart</a></div>
</nav>
