<nav class="menu small-padding-top small-padding-bottom">
  <a href="/">
    <span>Home</span>
    <span class="halo">Home</span>
  </a>
  <a href="/works/">
    <span>Works</span>
    <span class="halo">Works</span>
  </a>
  <a href="http://blood-and-dust.com">
    <span>Music</span>
    <span class="halo">Music</span>
  </a>
  <a href="/words/">
    <span>Words</span>
    <span class="halo">Words</span>
  </a>
  <a href="/craft/">
    <span>Craft</span>
    <span class="halo">Craft</span>
  </a>
  <a href="/food/">
    <span>Food</span>
    <span class="halo">Food</span>
  </a>
</nav>
