<div class="flex-1 old-project {{ lower .type }}">
  {{ if eq .type "website" }}
  <div class="images">
    <div class="images-container not-loaded">
      <div class="img" style="background-image:url({{ .image }});">
        <div class="browser-bar"><i class="far fa-ellipsis-h"></i></div>
      </div>
    </div>
  </div>
  {{ else if eq .type "video" }}
  <div class="images">
    <div class="images-container not-loaded">
      <div class="img" style="background-image:url({{ .image }});"></div>
      {{ with .gif }}
        <div class="gif" style="background-image:url({{ . }});"></div>
      {{ end }}
    </div>
  </div>
  {{ else }}
  <div class="images hover-slider">
    <div class="images-container not-loaded">
      <div class="img" id="image-1" style="background-image:url({{ .image }});"></div>
      {{ with .image2 }}
        <div class="img" id="image-2" style="background-image:url({{ . }});"></div>
      {{ end }}
      {{ with .image3 }}
        <div class="img" id="image-3" style="background-image:url({{ . }});"></div>
      {{ end }}
    </div>
    <div class="indicator"></div>
  </div>
  {{ end }}
  <div class="title">
    <h3 class="psych-2">{{ .title }}</h3>
    {{ with .projectUrl }}
    <a target="_blank" href="{{ . }}"><i class="far fa-external-link"></i></a>
    {{ end }}
  </div>
  {{ with .desc }}
  <div class="desc">{{ . }}</div>
  {{ end }}
</div>
