<div class="flex-1 product">
  <div
    class="picture flex-1"
    style="background-image:url({{ .image }});">
  </div>
  <div class="desc medium-padding flex-1">
    <h4 class="blackletter">{{ .title }}</h4>
    <div class="flex-row medium-padding-top">
      <div class="price">
        {{ .price }}
      </div>
      <div id='product-component-{{ .productId }}'></div>
    </div>.
    <p class="lighter">{{ .desc }}</p>
    <p class="spec">
      {{ .spec }}
    </p>
  </div>
</div>

<script type="text/javascript">
/*<![CDATA[*/

(function () {
  var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
  if (window.ShopifyBuy) {
    if (window.ShopifyBuy.UI) {
      ShopifyBuyInit();
    } else {
      loadScript();
    }
  } else {
    loadScript();
  }

  function loadScript() {
    var script = document.createElement('script');
    script.async = true;
    script.src = scriptURL;
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
    script.onload = ShopifyBuyInit;
  }

  function ShopifyBuyInit() {
    var client = ShopifyBuy.buildClient({
      domain: 'maniere-noire.myshopify.com',
      storefrontAccessToken: '4e56c0eb920f650d85b2909fb9c1ab78',
    });

    ShopifyBuy.UI.onReady(client).then(function (ui) {
      ui.createComponent('product', {
        id: [{{ .productId }}],
        node: document.getElementById('product-component-{{ .productId }}'),
        moneyFormat: '%24%7B%7Bamount%7D%7D%20CAD',
        options: {
          "product": {
            "variantId": "all",
            "width": "240px",
            "contents": {
              "img": false,
              "imgWithCarousel": false,
              "title": false,
              "variantTitle": false,
              "price": false,
              "description": false,
              "buttonWithQuantity": false,
              "quantity": false
            },
            "styles": {
             "product": {
               "text-align": "left",
               "@media (min-width: 601px)": {
                 "max-width": "100%",
                 "margin-left": "0",
                 "margin-bottom": "50px"
               }
             },
             "buttonWrapper": {
               "margin": "0 0 0 16px"
             },
             "button": {
               "background-color": "#e2e2e2",
               "color": "#000000",
               "font-size": "14px",
               "padding-top": "8px",
               "padding-bottom": "8px",
               "padding-left": "16px",
               "padding-right": "16px",
               ":hover": {
                 "background-color": "#cbcbcb",
                 "color": "#000000"
               },
               "border-radius": "4px",
               ":focus": {
                 "background-color": "#cbcbcb"
               },
               "font-weight": "bold"
             },
             "variantTitle": {
               "color": "#ffffff"
             },
             "title": {
               "font-size": "26px",
               "color": "#ffffff"
             },
             "description": {
               "color": "#ffffff"
             },
             "price": {
               "font-size": "18px",
               "color": "#ffffff"
             },
             "quantityInput": {
               "font-size": "17px",
               "padding-top": "16.5px",
               "padding-bottom": "16.5px"
             },
             "compareAt": {
               "font-size": "15px",
               "color": "#ffffff"
             }
           }
         },
         "cart": {
           "contents": {
             "button": true
           },
           "styles": {
             "button": {
               "background-color": "#e2e2e2",
               "color": "#000000",
               "font-size": "17px",
               "padding-top": "16.5px",
               "padding-bottom": "16.5px",
               ":hover": {
                 "background-color": "#cbcbcb",
                 "color": "#000000"
               },
               "border-radius": "4px",
               ":focus": {
                 "background-color": "#cbcbcb"
               },
               "font-weight": "bold"
             },
             "footer": {
               "background-color": "#ffffff"
             }
           }
         },
         "modalProduct": {
           "contents": {
             "img": false,
             "imgWithCarousel": true,
             "variantTitle": false,
             "buttonWithQuantity": true,
             "button": false,
             "quantity": false
           },
           "styles": {
             "product": {
               "@media (min-width: 601px)": {
                 "max-width": "100%",
                 "margin-left": "0px",
                 "margin-bottom": "0px"
               }
             },
             "button": {
               "background-color": "#e2e2e2",
               "color": "#000000",
               "font-size": "17px",
               "padding-top": "16.5px",
               "padding-bottom": "16.5px",
               ":hover": {
                 "background-color": "#cbcbcb",
                 "color": "#000000"
               },
               "border-radius": "4px",
               ":focus": {
                 "background-color": "#cbcbcb"
               },
               "font-weight": "bold"
             },
             "quantityInput": {
               "font-size": "17px",
               "padding-top": "16.5px",
               "padding-bottom": "16.5px"
             }
           }
         },
         "toggle": {
           "styles": {
             "toggle": {
               "background-color": "#e2e2e2",
               ":hover": {
                 "background-color": "#cbcbcb"
               },
               ":focus": {
                 "background-color": "#cbcbcb"
               },
               "font-weight": "bold"
             },
             "count": {
               "font-size": "17px",
               "color": "#000000",
               ":hover": {
                 "color": "#000000"
               }
             },
             "iconPath": {
               "fill": "#000000"
             }
           }
         },
         "productSet": {
           "styles": {
             "products": {
               "@media (min-width: 601px)": {
                 "margin-left": "-20px"
               }
             }
           }
         }
        }
      });
    });
  }
})();
/*]]>*/
</script>
