{{ $cover := index (.Params.images) 0 }}
{{ $lowResCover := replace $cover ".jpg" "-low.jpg" }}

<a href="{{ .Permalink }}" class="recipe-card {{ range .Params.tags }}{{ . }} {{ end }}">
  <h4 class="blackletter">{{ .Title }}</h4>
  <div class="specs psych-2">
    {{ with .Params.prepTime }}<span class="prep-time">{{ . }} to prep</span>
    - {{ end }}
    {{ with .Params.cookTime }}<span class="cook-time">{{ . }} to cook</span>
    - {{ end }}
    {{ with .Params.portions }}<span class="portions">{{ . }} portion(s)</span>
    {{ end}}
  </div>
  <div class="picture">
    <img loading="lazy" class="high" src="{{ $cover | safeURL }}" alt="{{ .Title }}">
    <img loading="lazy" class="low" src="{{ $lowResCover | safeURL }}" alt="{{ .Title }}">
  </div>
</a>
