{{ partial "header" . }}

<main>
  <div class="flex-row big-padding-top list-page">
    {{ partial "sidebars/tattooList" . }}
    <article>
      <div class="small-wrap">
        {{ partial "listPageTitle" . }}
        <div class="intro">
          {{ .Params.desc }}
        </div>
      </div>
      <div class="full-wrap">
        {{ .Content }}
        <div class="columns-3 big-padding-top works">
        {{ range where .Site.RegularPages "Section" "tattoo" }}
          {{ partial "projectCard.html" . }}
        {{ end }}
        </div>
      </div>
    </article>
  </div>
</main>

{{ partialCached "footer" . }}
