{{ partial "header" . }}

<main>
  <div class="flex-row big-padding-top list-page">
    {{ partial "sidebars/tattooList" . }}
    <article>
      <div class="small-wrap">
        {{ partial "listPageTitle" . }}
        <div class="intro">
          {{ .Params.desc }}
        </div>
      </div>
      <div class="full-wrap">
        {{ .Content }}
        <div class="columns-2 works">
          {{ range where .Site.RegularPages "Section" "tattoo" }}
            {{ if in .Params.tags "notes" }}
              {{ partial "projectCard.html" . }}
            {{ end}}
          {{ end }}
        </div>
        <h2 class="big-padding-top">Medieval Woodcuts</h2>
        <div class="columns-3 small-padding-top works">
        {{ range where .Site.RegularPages "Section" "tattoo" }}
          {{ if not (in .Params.tags "notes") }}
            {{ if in .Params.tags "woodcut" }}
              {{ partial "projectCard.html" . }}
            {{ end }}
          {{ end }}
        {{ end }}
        </div>
        <h2 class="big-padding-top">Black Metal Lettering and Symbols</h2>
        <div class="columns-3 small-padding-top works">
        {{ range where .Site.RegularPages "Section" "tattoo" }}
          {{ if not (in .Params.tags "notes") }}
            {{ if in .Params.tags "black metal" }}
              {{ partial "projectCard.html" . }}
            {{ end }}
          {{ end }}
        {{ end }}
        </div>
        <h2 class="big-padding-top">Dark Fantasy Illustration</h2>
        <div class="columns-3 small-padding-top works">
        {{ range where .Site.RegularPages "Section" "tattoo" }}
          {{ if not (in .Params.tags "notes") }}
            {{ if in .Params.tags "illustrative" }}
              {{ partial "projectCard.html" . }}
            {{ end }}
          {{ end }}
        {{ end }}
        </div>
      </div>
    </article>
  </div>
</main>

{{ partialCached "footer" . }}
