{{ partial "header" . }}

<main class="page-sidebar">
    {{ partial "sidebars/worksList" . }}
    <article class="flow">
        {{ partial "pageTitle" . }}
        <div class="measured">
            {{ .Content }}
        </div>
        <div>
            <div class='gallery-grid highlight-first works'>
                {{ range .Pages }}
                {{ if and (ne .Type "works/fantasy-art") (ne .Type "works/personal-work") (ne .Type "works/music-visuals")}}
                {{ partial "cards/projectCard.html" . }}
                {{ end }}
                {{ end }}
            </div>
        </div>
    </article>

</main>

{{ partial "footer" . }}
