{{ partial "header" . }}

<div class="flex-row big-padding-top list-page">
  <div class="sidebar">
    {{ if (eq $.Parent.Title "Works") }}
    <div class="back-home">
      <a href="/{{ .Section }}/"><h3>Back to {{ .Section }}</h3></a>
    </div>
    {{ end }}
    {{ if (eq .Parent.Title "Works") }}
      <h3 class="accent">Projects</h3>
    {{ else }}
      <h3 class="accent">Categories</h3>
    {{ end }}
    <ul class="section-pages">
      {{ range where .Pages "Section" "works" }}
        <li>
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
      {{ end }}
    </ul>
    <div id="icon-works" class="icon"></div>
  </div>
<div class="full-wrap">
  <div class="page-title">
    <span class="dingbats">{</span>
    <h2 class="psych-1">{{ .Title }}</h2>
    <span class="dingbats">{</span>
    <h3 class="psych-2">{{ .Params.subtitle }}</h3>
  </div>
  <div class="columns-2 big-padding-top">
    {{ if (eq $.Parent.Title "Works") }}
      {{ range where .Pages "Section" "works" }}
        {{ partial "projectCard.html" . }}
      {{ end }}
    {{ else }}
    {{ range where .Site.RegularPages "Section" "works" }}
      {{ partial "projectCard.html" . }}
    {{ end }}
    {{ end }}
  </div>
</div>
</div>

{{ partial "footer" . }}
