{{ partial "header" . }}

<main>
  <div class="flex-row big-padding-top list-page">
    {{ partial "sidebars/worksList" . }}
    <article>
      <div class="small-wrap">
        {{ partial "listPageTitle" . }}
      </div>
      <div class="full-wrap">
        {{ .Content }}
        <div class="columns-3 big-padding-top works">
          {{ if (eq $.Parent.Title "Works") }}
            {{ range where .Pages "Section" "works" }}
              {{ partial "projectCard.html" . }}
            {{ end }}
          {{ else }}
          {{ range where .Site.RegularPages "Section" "works" }}
            {{ if and (ne .Type "works/fantasy-art") (ne .Type "works/personal-work") (ne .Type "works/music-visuals")}}
              {{ partial "projectCard.html" . }}
            {{ end }}
          {{ end }}
          {{ end }}
        </div>
      </div>
    </article>
  </div>
</main>

{{ partialCached "footer" . }}
