{{ partial "header" . }}

<div class="flex-row big-padding-top single-page">
  <div class="sidebar">
    <div class="back-home">
      <a href="/{{ .Section }}/"><i class="fas fa-arrow-left"></i>Back to {{ .Section }}</a>
    </div>
    {{ $section := where $.Site.RegularPages "Section" "works"}}
    <ul class="section-pages">
    {{ range $section }}
      <li>
        <a href="{{ .Permalink }}">{{ .Title }}</a>
      </li>
    {{ end }}
    </ul>
  </div>
  <div class="wrap single">
    <h1 class="psych-1">{{ .Title }}</h1>
    {{ .Content }}
  </div>
</div>

{{ partial "footer" . }}
