<aside class="sidebar">
  {{ partial "sidebars/utils/back" . }}
  {{ $section := where $.Site.RegularPages "Section" "craft"}}
  <h3 class="accent">Artefacts</h3>
  <div class="small-padding-bottom">
  <ul class="section-pages">
  {{ range $section }}
    {{ if not (in .Params.tags "notes") }}
      <li>
        <a href="{{ .Permalink }}">{{ .Title }}</a>
      </li>
    {{ end }}
  {{ end }}
  </ul>
  </div>
  <h3 class="accent">Notes</h3>
  <div class="small-padding-bottom">
    <ul class="section-pages">
    {{ range $section }}
      {{ if in .Params.tags "notes" }}
        <li>
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
      {{ end }}
    {{ end }}
    </ul>
  </div>
  <div id="icon-craft" class="icon"></div>
</aside>
