<aside class="sidebar">
  {{ partial "name" . }}
  {{ if (eq $.Parent.Title "Craft") }}
    {{ partial "sidebars/utils/back" . }}
  {{ end }}
  <h3 class="accent default-font all-caps">Artefacts</h3>
  <div class="default-padding-bottom">
    <ul>
      {{ range where .Pages "Section" "craft" }}
        {{ if not (in .Params.tags "notes") }}
          {{ partial "sidebars/utils/sidebarMenuItem" . }}
        {{ end }}
      {{ end }}
    </ul>
  </div>
  <h3 class="accent default-font all-caps">Notes</h3>
  <div class="default-padding-bottom">
    <ul>
      {{ range where .Pages "Section" "craft" }}
        {{ if in .Params.tags "notes" }}
          {{ partial "sidebars/utils/sidebarMenuItem" . }}
        {{ end }}
      {{ end }}
    </ul>
  </div>
  <div class="default-padding-bottom">
    <h3 class="accent default-font all-caps">Deeper knowledge</h3>
    <ul>
      <li><a href="https://branch.climateaction.tech/">Branch sustainable internet journal</a></li>
      <li><a href="https://www.mortiseandtenonmag.com/">Mortise and tenon mag</a></li>
      <li><a href="https://homethingspast.com/">Home things past</a></li>
    </ul>
  </div>
  <div id="icon-sun" class="icon bottom-icon"></div>
</aside>
