<aside class="sidebar">
  {{ if (eq $.Parent.Title "Folklore") }}
    {{ partial "sidebars/utils/back" . }}
  {{ end }}
  <h3 class="accent">Pages</h3>
  <div class="small-padding-bottom">
    <ul class="section-pages">
    {{ range .RegularPages }}
      {{ if not (in .Params.tags "notes") }}
        {{ partial "sidebars/utils/sidebarMenuItem" . }}
      {{ end }}
    {{ end }}
    </ul>
  </div>
  <h3 class="accent"><a href="/folklore/festivals/">Pagan Festivals</a></h3>
  <h3 class="accent"><a href="/folklore/travel-logs/">Travel logs</a></h3>
  <h3 class="accent"><a href="/folklore/weird-walking/">Weird walks</a></h3>
  <h3 class="accent">Notes</h3>
  <div class="small-padding-bottom">
    <ul class="section-pages">
    {{ range .RegularPages }}
      {{ if in .Params.tags "notes" }}
        {{ partial "sidebars/utils/sidebarMenuItem" . }}
      {{ end }}
    {{ end }}
    </ul>
  </div>
  <div class="small-padding-bottom">
    <h3 class="accent">Deeper knowledge</h3>
    <ul>
      <li><a href="https://www.weirdwalk.co.uk/">Weird Walk</a></li>
      <li><a href="https://www.fiddlersgreenzine.com/">Fiddler's green</a></li>
      <li><a href="https://www.folkloreforresistance.com/">Folklore for resistance</a></li>
      <li><a href="https://druidry.org/">Order of bard, ovates and druids</a></li>
      <li><a href="https://www.rewildportland.com/">Rewild Portland</a></li>
    </ul>
  </div>
  <div id="icon-folklore" class="icon"></div>
</aside>
