<aside class="sidebar">
  {{ partial "name" . }}
  {{ partial "sidebars/utils/back" . }}
  {{ $section := where $.Site.RegularPages "Section" "folklore"}}
  <h3 class="accent default-font all-caps">Pages</h3>
  <div class="small-padding-bottom">
    <ul class="section-pages">
    {{ range $section }}
      {{ if not (in .Params.tags "notes") }}
        {{ partial "sidebars/utils/sidebarMenuItem" . }}
      {{ end }}
    {{ end }}
    </ul>
  </div>
  <h3 class="accent"><a href="/folklore/festivals/">Pagan Festivals</a></h3>
  <h3 class="accent"><a href="/folklore/travel-logs/">Travel logs</a></h3>
  <h3 class="accent"><a href="/folklore/weird-walking/">Weird walks</a></h3>
  <h3 class="accent default-font all-caps">Notes</h3>
  <div class="small-padding-bottom">
    <ul class="section-pages">
    {{ range $section }}
      {{ if in .Params.tags "notes" }}
        {{ partial "sidebars/utils/sidebarMenuItem" . }}
      {{ end }}
    {{ end }}
    </ul>
  </div>
  <div id="icon-sun" class="icon bottom-icon"></div>
</aside>
