<aside class="sidebar">
  {{ partial "name" . }}
  {{ partial "sidebars/utils/back" . }}
  {{ $section := where $.Site.RegularPages "Section" "food"}}
  <h3 class="accent default-font all-caps">Recipes</h3>
  <div class="small-padding-bottom">
    <ul class="section-pages">
    {{ range $section }}
      {{ if not (in .Params.tags "notes") }}
        {{ partial "sidebars/utils/sidebarMenuItem" . }}
      {{ end }}
    {{ end }}
    </ul>
  </div>
  <h3 class="accent default-font all-caps">Notes</h3>
  <div class="small-padding-bottom">
    <ul class="section-pages">
    {{ range $section }}
      {{ if in .Params.tags "notes" }}
        {{ partial "sidebars/utils/sidebarMenuItem" . }}
      {{ end }}
    {{ end }}
    </ul>
  </div>
  <div id="icon-food" class="icon"></div>
</aside>
