<aside class="sidebar">
  {{ partial "name" . }}
  {{ if (eq $.Parent.Title "Play") }}
    {{ partial "sidebars/utils/back" . }}
  {{ end }}
  <h3 class="accent gaeilge all-caps">Projects</h3>
  <div class="default-padding-bottom">
    <ul class="section-pages">
    {{ range .RegularPages }}
      {{ if not (in .Params.tags "notes") }}
        {{ partial "sidebars/utils/sidebarMenuItem" . }}
      {{ end }}
    {{ end }}
    </ul>
  </div>
  <h3 class="accent gaeilge all-caps">Notes</h3>
  <div class="default-padding-bottom">
    <ul class="section-pages">
    {{ range .RegularPages }}
      {{ if in .Params.tags "notes" }}
        {{ partial "sidebars/utils/sidebarMenuItem" . }}
      {{ end }}
    {{ end }}
    </ul>
  </div>
  <div id="icon-sun" class="icon bottom-icon"></div>
</aside>
