{{ $currentSection := .Section }}

{{ if eq $currentSection "about" }}
{{ partial "sidebars/aboutSingle" . }}
{{ else if eq $currentSection "tattoo" }}
{{ partial "sidebars/tattooSingle" . }}
{{ else if eq $currentSection "craft" }}
{{ partial "sidebars/craftSingle" . }}
{{ else if eq $currentSection "folklore" }}
{{ partial "sidebars/folkloreSingle" . }}
{{ else if eq $currentSection "music" }}
{{ partial "sidebars/musicSingle" . }}
{{ else if eq $currentSection "works" }}
{{ partial "sidebars/worksSingle" . }}
{{ else if eq $currentSection "play" }}
{{ partial "sidebars/playSingle" . }}
{{ else }}

{{ end }}