<aside class="sidebar">
  {{ if (eq $.Parent.Title "Tattoo") }}
    {{ partial "sidebars/utils/back" . }}
  {{ end }}
  <h3 class="accent default-font all-caps">Tattoos</h3>
  <div class="small-padding-bottom">
    <ul class="section-pages">
      {{ range where .Pages "Section" "tattoo" }}
        {{ if not (in .Params.tags "notes") }}
          {{ partial "sidebars/utils/sidebarMenuItem" . }}
        {{ end }}
      {{ end }}
    </ul>
  </div>
  <h3 class="accent default-font all-caps">Notes</h3>
  <div class="small-padding-bottom">
    <ul class="section-pages">
    {{ range .RegularPages }}
      {{ if in .Params.tags "notes" }}
        {{ partial "sidebars/utils/sidebarMenuItem" . }}
      {{ end }}
    {{ end }}
    </ul>
  </div>
  <div id="icon-works" class="icon"></div>
</aside>
