<aside class="sidebar">
  {{ if (eq $.Parent.Title "Works") }}
    {{ partial "sidebars/utils/back" . }}
  {{ end }}
  {{ if (eq .Parent.Title "Works") }}
    <h3 class="accent default-font all-caps">Projects</h3>
  {{ else }}
    <h3 class="accent default-font all-caps">Types of works</h3>
  {{ end }}
  <ul class="section-pages">
    {{ range where .Pages "Section" "works" }}
      {{ partial "sidebars/utils/sidebarMenuItem" . }}
    {{ end }}
  </ul>
  <div id="icon-works" class="icon"></div>
</aside>
