<aside class="sidebar">
    {{ partial "name" . }}
    {{ if (eq $.Parent.Title "Works") }}
    {{ partial "sidebars/utils/back" . }}
    {{ end }}
    <h3 class="accent gaeilge all-caps">Types of works</h3>
    <div class="default-padding-bottom">
        <ul class="section-pages">
            <li><a href="/works/personal-work/">Personal work</a></li>
            <li><a href="/works/fantasy-art/">Fantasy art</a></li>
            <li><a href="/works/music-visuals/">Music visuals</a></li>
        </ul>
    </div>
    <h3 class="accent gaeilge all-caps">Mediums</h3>
    <div class="default-padding-bottom">
        <ul class="section-pages">
            {{ range where $.Site.Pages "Section" "works" }}
            {{ if .IsSection }}
            {{ if not (eq .Title "Artwork") }}
            {{ partial "sidebars/utils/sidebarMenuItem" . }}
            {{ end }}
            {{ end }}
            {{ end }}
        </ul>
    </div>
    {{ $section := where $.Site.Pages "Section" "works"}}
    <h3 class="accent gaeilge all-caps">Notes</h3>
    <div class="default-padding-bottom">
        <ul class="section-pages">
            {{ range $section }}
            {{ if in .Params.tags "notes" }}
            {{ partial "sidebars/utils/sidebarMenuItem" . }}
            {{ end }}
            {{ end }}
        </ul>
    </div>
    <div id="icon-sun" class="icon bottom-icon"></div>
</aside>
