<aside class="sidebar">
  {{ partial "sidebars/utils/back" . }}
  <h3 class="accent">Types of work</h3>
  <div class="small-padding-bottom">
  {{ $section := where $.Site.Pages "Section" "works"}}
  {{ $section := $section | intersect (where $.Site.Pages "IsSection" true)}}
  {{ $section := $section | intersect (where $.Site.Pages "Title" "!=" "Works")}}
  <ul class="section-pages">
  {{ range $section }}
    {{ partial "sidebars/utils/sidebarMenuItem" . }}
  {{ end }}
  </ul>
  </div>
  <h3 class="accent">Notes</h3>
  <div class="small-padding-bottom">
    <ul class="section-pages">
    {{ range $section }}
      {{ if in .Params.tags "notes" }}
        {{ partial "sidebars/utils/sidebarMenuItem" . }}
      {{ end }}
    {{ end }}
    </ul>
  </div>
  <div id="icon-works" class="icon"></div>
</aside>
