{{ partial "header" . }}
{{ $songs_produced := .Site.Data.music.produced }}

<main>
  <div class="flex-row big-padding-top list-page">
    {{ partial "sidebars/musicList" . }}
    <article>
      <div class="small-wrap works">
        {{ partial "listPageTitle" . }}
      </div>
      <div class="full-wrap">
        {{ .Content }}
        <h2>Ritual Dust releases</h2>
        <div class="columns-2 big-padding-bottom">
          {{ if (eq $.Parent.Title "Music") }}
            {{ range where .Pages "Section" "music" }}
              {{ if not (in .Params.tags "notes") }}
                {{ if in .Params.tags "ritual dust" }}
                  {{ partial "projectCard.html" . }}
                {{ end }}
              {{ end }}
            {{ end }}
          {{ else }}
            {{ range where .Site.RegularPages "Section" "music" }}
              {{ if not (in .Params.tags "notes") }}
                {{ if in .Params.tags "ritual dust" }}
                  {{ partial "projectCard.html" . }}
                {{ end }}
              {{ end }}
            {{ end }}
          {{ end }}
        </div>
        <h2>Other projects</h2>
        <div class="columns-3 big-padding-bottom">
          {{ if (eq $.Parent.Title "Music") }}
            {{ range where .Pages "Section" "music" }}
              {{ if not (in .Params.tags "notes") }}
                {{ if not (in .Params.tags "ritual dust") }}
                   {{ partial "projectCard.html" . }}
                {{ end }}
              {{ end }}
            {{ end }}
          {{ else }}
            {{ range where .Site.RegularPages "Section" "music" }}
              {{ if not (in .Params.tags "notes") }}
                {{ if not (in .Params.tags "ritual dust") }}
                   {{ partial "projectCard.html" . }}
                {{ end }}
              {{ end }}
            {{ end }}
          {{ end }}
        </div>
        <h2>As a producer</h2>
        <div class="works-list">
            {{ range $songs_produced }}
                <div class="list-item">
                <div><a href="{{ .url }}">{{ .title }}</a> by {{ .artist }}</div>
                <div>{{ .type }}</div>
                <div>{{ .year }}</div>
            </div>
            {{ end }}
        </div>
        <div class="spacer"></div>
        <h2>Notes</h2>
        <div class="columns-2 works">
          {{ range where .Site.RegularPages "Section" "music" }}
            {{ if in .Params.tags "notes" }}
              {{ partial "projectCard.html" . }}
            {{ end}}
          {{ end }}
        </div>
      </div>
    </article>
  </div>
</main>

{{ partialCached "footer" . }}
