<a href="{{ .Permalink }}" class="product product-card card {{ with .Params.bigger }}bigger{{ end }}">
    {{ with .Params.image }}
    <div class="image">
        <div class="image-background">
            <img src="{{ . }}"/>
        </div>
    </div>
    {{ end }}
    <div class="desc">
        <small>{{ .Title }}</small>
        {{ with .Params.desc }}
        <p class="product-desc">
            {{ . }}
        </p>
        {{ end }}
        {{ with .Params.price }}
        <p class="price">{{ . }}$ CAD</p>
        {{ end }}
    </div>
</a>
