{{ partial "header-minimal" . }}

<main class="dungeon-main">
  <div class="dungeon medium-padding-top medium-padding-bottom">
    <div class="illustration"></div>
    <div class="text-box-wrapper">
      <div class="text-box">
        <p>You emerge in a damp room with two doors on the wall facing you, it's dark in here, lit only by the faint light filtering through the stairwell you went down from. It smells rancid in here and you can feel the cold emanating from the ancient stone walls.</p>
        <div class="actions">
          <ul>
            <li><a href="">Enter left door</a></li>
            <li><a href="">Enter right door</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</main>

{{ partial "footer-minimal" . }}
