{{ partial "header" . }}

<div class="wrap big-padding-top food">
  <div class="page-title">
    <span class="dingbats">{</span>
    <h2 class="psych-1">Food</h2>
    <span class="dingbats">{</span>
    <h3 class="psych-2">Plant-based comfort recipes</h3>
  </div>
  <div class="flex-row">
    <div class="recipes">
      {{ range where .RegularPages "Type" "food" }}
        {{ partial "recipeCard.html" . }}
      {{ end }}
    </div>
    <div class="resources">
      {{ .Content }}
    </div>
  </div>

</div>

{{ partial "footer" . }}
