{{ partialCached "header" . }}

<main>
  <div class="flex-row big-padding-top list-page">
      <aside class="sidebar">
        <div class="small-padding-bottom">
          <h3 class="accent">Meal types</h3>
          <ul>
            <li><a href="/tags/main/">Main</a></li>
            <li><a href="/tags/side/">Side</a></li>
            <li><a href="/tags/drink/">Drink</a></li>
          </ul>
        </div>
        <div class="small-padding-bottom">
          <h3 class="accent">Seasons</h3>
          <ul>
            <li><a href="/tags/spring/">Spring</a></li>
            <li><a href="/tags/summer/">Summer</a></li>
            <li><a href="/tags/fall/">Fall</a></li>
            <li><a href="/tags/winter/">Winter</a></li>
          </ul>
        </div>
        <div class="small-padding-bottom">
          <h3 class="accent">Other recipe blogs</h3>
          <ul>
            <li><a href="https://grimgrains.com/">Grim Grains</a></li>
            <li><a href="https://thefirstmess.com/">the first mess</a></li>
            <li><a href="https://www.theppk.com/">the post-punk kitchen</a></li>
            <li><a href="https://minimalistbaker.com">minimalist baker</a></li>
            <li><a href="https://nicrunicuit.com/">Ni cru, ni cuit (fermentation)</a></li>
          </ul>
        </div>
        <div id="icon-food" class="icon"></div>
      </aside>
    <article>
      <div class="small-wrap food">
        <div class="page-title">
          <span class="dingbats">{{ partialCached "icons/flower" . }}</span>
          <h1 class="psych-1">{{ .Title }}</h1>
          <span class="dingbats">{{ partialCached "icons/flower" . }}</span>
          <h2 class="psych-2">{{ .Params.subtitle }}</h2>
        </div>
        <div class="intro">
        {{ .Params.intro }}
        </div>
      </div>
      <div class="full-wrap">
        <div class="recipes big-padding-top columns-2">
          {{ range where .RegularPages "Type" "food" }}
            {{ partial "recipeCard.html" . }}
          {{ end }}
        </div>
      </div>
    </article>
  </div>
</main>

{{ partialCached "footer" . }}
