{{ $imageAlt := .Params.imageAlt }}
{{ $ingredients := .Params.ingredients }}
{{ partial "header" . }}

<main class="page-sidebar">
    {{ partial "sidebars/foodSingle" . }}
    <article class="recipe flow">
        {{ partial "pageTitle" . }}
        <div class="specs psych-2">
            {{ with .Params.prepTime }}<span class="prep-time">{{ . }} to prep</span>
            - {{ end }}
            {{ with .Params.cookTime }}<span class="cook-time">{{ . }} to cook</span>
            - {{ end }}
            {{ with .Params.portions }}<span class="portions">{{ . }} portion(s)</span>
            {{ end}}
        </div>
        <div class="page-content">
            <div class="recipe-grid recipe-content">
                <div class="ingredients">
                    <h2>Ingredients</h2>
                    <ul>
                        {{ range $ingredients }}
                        <li>{{ . }}</li>
                        {{ end }}
                    </ul>
                </div>
                <div class="steps">
                    {{ .Content | safeHTML }}
                </div>
            </div>
        </div>      
        {{ partial "page-meta" . }}
    </article>
</main>

{{ partialCached "footer" . }}
