{{ $imageAlt := .Params.imageAlt }} {{ partial "header" . }}

<div class="flex-row big-padding-top single-page">
  <div class="sidebar">
    <div class="back-home">
      <a href="/{{ .Section }}/"><h3>Back to {{ .Section }}</h3></a>
    </div>
    {{ $section := where $.Site.RegularPages "Section" "food"}}
    <h3 class="accent">Recipes</h3>
    <ul class="section-pages">
    {{ range $section }}
      <li>
        <a href="{{ .Permalink }}">{{ .Title }}</a>
      </li>
    {{ end }}
    </ul>
    <div id="icon-food" class="icon"></div>
  </div>
  <div class="wrap single recipe">
    <h1 class="psych-1 no-margin-bottom">{{.Title}}</h1>
    <div class="specs psych-2">
      {{ with .Params.prepTime }}<span class="prep-time">{{ . }} to prep</span>
      - {{ end }}
      {{ with .Params.cookTime }}<span class="cook-time">{{ . }} to cook</span>
      - {{ end }}
      {{ with .Params.portions }}<span class="portions">{{ . }} portion(s)</span>
      {{ end}}
    </div>
    {{ with (.GetTerms "tags") }}
      <ul class="tags">
        Tagged with {{ range . }}
        <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
        {{ end }}
      </ul>
    {{ end }}
    {{ .Content | safeHTML }}
    {{ range .Params.images }}
      <div class="photo">
        <img loading="lazy" src="{{ . }}" alt="{{ $imageAlt }}" />
      </div>
    {{ end }}
    {{ if not .Lastmod.IsZero }}
      <div class="last-mod small-padding-top">
        Last modified on <strong>{{ .Lastmod.Format "2006-01-02" | safeHTML }}</strong>,
        published on <strong>{{ .Date.Format "2006-01-02" | safeHTML }}</strong>
      </div>
    {{ end }}
  </div>
</div>
{{ partial "footer" . }}
