{{ partial "header" . }}

<div class="wrap big-padding-top">
  <div class="flex-row">
    <h1 class="flex-3">Good design, code and content can make a difference.</h1>
    <div class="flex-3"></div>
    <h4 class="flex-2">
      <p>
        My name is Tommy Poirier-Morissette, I'm a multi-disciplinary designer since 2010.
        I'm currently focusing on interractive design, user experience and products.
      </p>
    </h4>
  </div>
  <h2>I'm currently working on</h2>

  <h2>In the past I worked on</h2>
  <div class="flex-row flex-wrap">
    {{ range $.Site.Data.old_projects.articles }}
      {{ partial "projectCard.html" . }}
    {{ end }}
  </div>

</div>

{{ partial "footer" . }}
