{{ partial "header" . }}

<div class="wrap big-padding-top">
  <div class="flex-row top-page-row">
    <h1 class="flex-3 tagline psych-1">{{ .Params.tagline }}</h1>
    <div class="flex-2 bio flex-row desktop">
      <div class="profile-pic flex-1">
        <div class="photo"><img src="img/bio-photo-3.png" /></div>
      </div>
      <div class="flex-3">
      <a href="/about/"><h4 class="name blackletter">{{ .Params.name }}</h4></a>
        <p class="lighter">
        <a href="/about/being-trans/">Trans woman</a>, ecclectic designer and witch; goth druid. Currently focusing on <a href="/works/design/">design</a> with a purpose, <a href="/works/lettering/">hand-lettering</a>, <a href="/works/illustration/">illustration</a> and the intersection of the occult, psychedelics and folklore. Drawing <a href="http://localhost:1313/about/sigils/">sigils</a> and cooking <a href="/food/">plant-based food</a> in my spare-time.
      </p>
        <div class="social">
          <a href="https://www.instagram.com/oilandsugar/" target="_blank">
            Instagram
          </a><br>
          <a href="https://github.com/oilandsugar" target="_blank">
            Github
          </a><br>
          <a href="https://merveilles.town/@ritualdust" target="_blank">
            Mastodon
          </a><br>
          <a href="http://ritualdust.com/index.xml" target="_blank">
            RSS feed
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="bio flex-row mobile">
    <div class="profile-pic flex-1">
      <div class="photo"><img src="img/bio-photo-3.png" /></div>
    </div>
    <div class="flex-3">
      <h4 class="name blackletter">{{ .Params.name }}</h4>
      <p class="lighter">
        <a href="/about/being-trans/">Trans woman</a>, ecclectic designer and witch; goth druid. Currently focusing on <a href="/works/design/">design</a> with a purpose, <a href="/works/lettering/">hand-lettering</a>, <a href="/works/illustration/">illustration</a> and the intersection of the occult, psychedelics and folklore. Drawing <a href="http://localhost:1313/about/sigils/">sigils</a> and cooking <a href="/food/">plant-based food</a> in my spare-time.
      </p>
      <div class="social">
        <a href="https://www.instagram.com/oilandsugar/" target="_blank">
          Instagram
        </a><br>
        <a href="https://github.com/oilandsugar" target="_blank">
          Github
        </a><br>
        <a href="https://merveilles.town/@ritualdust" target="_blank">
          Mastodon
        </a><br>
        <a href="http://ritualdust.com/index.xml" target="_blank">
          RSS feed
        </a>
      </div>
    </div>
  </div>

  <div class="home-content">
    <div class="flex-row">
      <div class="section"></div>
      <div class="section big-padding-right">
        <h3>Recent works</h3>
          {{ range ( where .Site.RegularPages "Section" "works" | first 5 ) }}
            <a href="{{.Permalink}}">{{ .Title }}</a><br/>
          {{ end }}
      </div>
      <div class="section big-padding-right">
        <h3>New folklore</h3>
          {{ range ( where .Site.RegularPages "Section" "folklore" | first 5 ) }}
            <a href="{{.Permalink}}">{{ .Title }}</a><br/>
          {{ end }}
      </div>
      <div class="section big-padding-right">
        <h3>Currently cooking</h3>
          {{ range ( where .Site.RegularPages "Section" "food" | first 5 ) }}
            <a href="{{.Permalink}}">{{ .Title }}</a><br/>
          {{ end }}
      </div>
    </div>

  </div>
</div>

{{ partial "footer" . }}
