{{ partial "header" . }}

<div class="wrap big-padding-top">
  <div class="flex-row top-page-row">
    <h1 class="flex-3">Good design, code and content can make a difference.</h1>
    <div class="flex-1"></div>
    <div class="flex-2 bio flex-row desktop">
      <div class="profile-pic flex-1">
        <div class="photo">
          <img src="img/pic.jpg"/>
        </div>
      </div>
      <div class="flex-3">
        <h4>Tommy Poirier-Morissette</h4>
        <p>
          I'm a multi-disciplinary designer since 2010.
          I'm currently focusing on interactive design, user experience and products.
        </p>
        <div class="social">
          <a href="https://www.instagram.com/oilandsugar/" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="https://github.com/oilandsugar" target="_blank"><i class="fab fa-github"></i></a>
          <a href="https://angel.co/tommy-poirier-morissette" target="_blank"><i class="fab fa-angellist"></i></a>
        </div>
      </div>
    </div>
  </div>
  <h2 class="big-padding-top">I'm currently working on</h2>
  <div class="current-row-scroll">
  <div class="flex-row flex-wrap big-padding-bottom current-row">
    {{ range $.Site.Data.new_projects.projects }}
      {{ partial "newProjectCard.html" . }}
    {{ end }}
  </div>
</div>

  <div class="bio flex-row mobile">
    <div class="profile-pic flex-1">
      <div class="photo">
        <img src="img/pic.jpg"/>
      </div>
    </div>
    <div class="flex-3">
      <h4>Tommy Poirier-Morissette</h4>
      <p>
        I'm a multi-disciplinary designer since 2010.
        I'm currently focusing on interactive design, user experience and products.
      </p>
      <div class="social">
        <a href="https://www.instagram.com/oilandsugar/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://github.com/oilandsugar" target="_blank"><i class="fab fa-github"></i></a>
        <a href="https://angel.co/tommy-poirier-morissette" target="_blank"><i class="fab fa-angellist"></i></a>
      </div>
    </div>
  </div>

  <div class="flex-row big-padding-top old-title">
    <h2 class="flex-1">In the past I worked on</h2>
    <div class="flex-1 filters">
      <a class="tag" data-filter="*"><i class="fas fa-circle"></i>Everything</a>
      <a class="tag" data-filter=".website"><i class="far fa-circle"></i>Websites</a>
      <a class="tag" data-filter=".branding"><i class="far fa-circle"></i>Brands</a>
      <a class="tag" data-filter=".video"><i class="far fa-circle"></i>Video</a>
    </div>
  </div>

  <div class="flex-row flex-wrap old-row">
    {{ range $.Site.Data.old_projects.projects }}
      {{ partial "oldProjectCard.html" . }}
    {{ end }}
  </div>

</div>

{{ partial "footer" . }}
