{{ partial "header" . }}

<main class="list-page tag-page">
    {{ partial "sidebars/tags" . }}
    <article>
        <div class="measured">
            <div class="page-title">
                <h1 class="psych-1 accent">Tag: {{ .Title }}</h1>
            </div>
        </div>
        <div class='gallery-grid works'>
            {{ range .Pages }}
            {{ if eq .Type "food" }}
            {{ partial "cards/recipeCard.html" . }}
            {{ else if eq .Type "craft" }}
            {{ partial "cards/craftCard.html" . }}
            {{ else if eq .Type "shop" }}
            {{ partial "cards/productCard.html" . }}
            {{ else if eq .Type "folklore" }}
            {{ partial "cards/folkloreCard.html" . }}
            {{ else if eq .Layout "media" }}
            {{ partial "cards/mediaCard.html" . }}
            {{ else }}
            {{ partial "cards/projectCard.html" . }}
            {{ end }}
            {{ end }}
        </div>
    </article>
</main>

{{ partialCached "footer" . }}
