{{ partial "header" . }}

<main>
    <div class="big-padding-top tag-page">
        {{ partial "pageTitle" . }}
        <div class="measured">
            These are all the tags used on this website, sorted by most commonly used to less commonly used.
        </div>
        <div class="big-padding-top">
            <div class="grid-4">
                {{ range .Data.Terms.ByCount }}
                <div class="toc-entry">
                    <div class="chapter"><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a></div>
                    <div class="page">({{ .Count }})</div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</main>

{{ partialCached "footer" . }}
