:root {

/* --------- BUTTONS --------- */

/* Primary */
--color-buttonPrimary: #261f1a; /* back */
--borderColor-buttonPrimary: #ceb7a2; /* f_med */
--bgColor-buttonPrimary: #ceb7a2; /* f_med */

/* Secondary */
--color-buttonSecondary: #261f1a; /* back */
--bgColor-buttonSecondary: #ceb7a2; /* f_med */
 
/* Primary Hover */
--color-buttonPrimary-hover: #ffffff; /* back */
--borderColor-buttonPrimary-hover: #3a4603; /* f_high */
--bgColor-buttonPrimary-hover: #716156; /* f_high */
--shadow-buttonPrimary-hover: none;
    
/* Secondary Hover */
--color-buttonSecondary-hover: #ffffff; /* back */
--borderColor-buttonSecondary-hover: #3a4603; /* f_high */
--bgColor-buttonSecondary-hover: #716156; /* f_high */
--shadow-buttonSecondary-hover: none;

/* Active */
--color-buttonPrimary-active: #261f1a; /* back */
--borderColor-buttonPrimary-active: #3a4603; /* f_high */
--bgColor-buttonPrimary-active: #3a4603; /* f_high */
--shadow-buttonPrimary-active: none;

/* Focus */
--color-buttonPrimary-focus: #261f1a; /* back */
--borderColor-buttonPrimary-focus: #3a4603; /* f_high */
--bgColor-buttonPrimary-focus: #3a4603; /* f_high */
--shadow-buttonPrimary-focus: none;

/* Disabled */
--color-buttonPrimary-disabled: #c8c5ae; /* back */
--borderColor-buttonPrimary-disabled: #9a948d; /* disabled */
--bgColor-buttonPrimary-disabled: #9a948d; /* disabled */

/* Success */
--color-buttonPrimary-success: #c8c5ae; /* back */
--borderColor-buttonPrimary-success: green;
--bgColor-buttonPrimary-success: green;

/* Error */
--color-buttonPrimary-error: #c8c5ae; /* back */
--borderColor-buttonPrimary-error: #bb0e0e; /* error */
--bgColor-buttonPrimary-error: #bb0e0e; /* error */

/* --------- LINKS --------- */

/* Default */
--color-link: #624337; /* f_med */
--borderColor-link: #624337; /* f_med */
--bgColor-link: none;

/* Hover */
--color-link-hover: #3a4603; /* f_high */
--borderColor-link-hover: #3a4603; /* f_high */
--bgColor-link-hover: none;

/* Active */
--color-link-active: #3a4603; /* f_high */
--borderColor-link-active: #3a4603; /* f_high */
--bgColor-link-active: none;

/* Focus */
--color-link-focus: #3a4603; /* f_high */
--borderColor-link-focus: #3a4603; /* f_high */
--bgColor-link-focus: #3a4603; /* f_high */
--shadow-link-focus: none;

/* -----------------------
    PART: Input
----------------------- */

--color-input: #261f1a; /* f_med */
--borderColor-input: #624337; /* f_med */
--bgColor-input: #fff; /* white */

/* Hover */
--color-input-hover: #261f1a; /* f_high */
--borderColor-input-hover: #261f1a; /* f_high */
--bgColor-input-hover: #fff; /* white */
--shadow-input-hover: none;

/* Focus */
--color-input-focus: #261f1a; /* f_high */
--borderColor-input-focus: #261f1a; /* f_high */
--bgColor-input-focus: #fff; /* white */
--shadow-input-focus: none;

/* Checked */
--color-input-checked: #ffffff; /* back */
--borderColor-input-checked: #261f1a; /* f_high */
--bgColor-input-checked: #261f1a; /* f_high */
--shadow-input-checked: none;

/* Disabled */
--color-input-disabled: #9a948d; /* disabled */
--borderColor-input-disabled: #9a948d; /* disabled */
--bgColor-input-disabled: #fff; /* white */

/* Error */
--color-input-error: #bb0e0e; /* error */
--borderColor-input-error: #bb0e0e; /* error */
--bgColor-input-error: #fff; /* white */

/* Autofill */
--bgColor-input-autofill: none;

/* -----------------------
    PART: Label
----------------------- */

--color-inputLabel: #624337; /* f_med */

/* Hover */
--color-inputLabel-hover: #3a4603; /* f_high */

/* Focus */
--color-inputLabel-focus: #3a4603; /* f_high */

/* -----------------------
    PART: Icon
----------------------- */

--color-inputIcon: #624337; /* f_med */

/* Hover */
--color-inputIcon-hover: #3a4603; /* f_high */

/* Focus */
--color-inputIcon-focus: #3a4603; /* f_high */

/* Checked */
--color-inputIcon-checked: #3a4603; /* f_high */

/* Disabled */
--color-inputIcon-error:;

/* -----------------------
    PART: Placeholder
----------------------- */

--color-inputPlaceholder: #624337; /* f_med */

/* ---------- BADGES ----------- */

/* Default (completed) */
--color-badge: #261f1a; /* f_high */
--borderColor-badge: #624337; /* f_high */
--bgColor-badge: #ffffff; /* back */

/* Active */
--color-badge-active: #ffffff; /* back */
--borderColor-badge-active: #624337; /* back */
--bgColor-badge-active: #624337; /* f_high */

/* Disabled */
--color-badge-disabled: #624337; /* f_med */
--borderColor-badge-disabled: #c8c5ae; /* back */
--bgColor-badge-disabled: #fff; /* white */

/* --------- GLOBAL --------- */

/* Default */
--color-default: #261f1a; /* f_med */
--borderColor-default: #624337; /* f_med */
--bgColor-default: #ffffff; /* back */

/* Alt */
--color-alt: #624337; /* f_med */
--bgColor-alt: #ffffff; /* back */

/* Icon */
--color-icon: #624337; /* f_med */

/* Success */
--color-success: green;
--bgColor-success: #ffffff; /* back */

/* Error */
--color-error: #bb0e0e; /* error */
--borderColor-error: #bb0e0e; /* error */
--bgColor-error: #ffffff; /* back */

/* Info */
--bgColor-info: #ffffff; /* back */

/* Modal */
--bgColor-modal: #ffffff; /* back */
--bgColor-modalVeil: #ffffff; /* back */

}
