:root {

/* --------- BUTTONS --------- */

/* Default */
--color-buttonPrimary: #c8c5ae; /* back */
--borderColor-buttonPrimary: #624337; /* f_med */
--bgColor-buttonPrimary: #624337; /* f_med */

/* Hover */
--color-buttonPrimary-hover: #c8c5ae; /* back */
--borderColor-buttonPrimary-hover: #3a4603; /* f_high */
--bgColor-buttonPrimary-hover: #3a4603; /* f_high */
--shadow-buttonPrimary-hover: none;

/* Active */
--color-buttonPrimary-active: #c8c5ae; /* back */
--borderColor-buttonPrimary-active: #3a4603; /* f_high */
--bgColor-buttonPrimary-active: #3a4603; /* f_high */
--shadow-buttonPrimary-active: none;

/* Focus */
--color-buttonPrimary-focus: #c8c5ae; /* back */
--borderColor-buttonPrimary-focus: #3a4603; /* f_high */
--bgColor-buttonPrimary-focus: #3a4603; /* f_high */
--shadow-buttonPrimary-focus: none;

/* Disabled */
--color-buttonPrimary-disabled: #c8c5ae; /* back */
--borderColor-buttonPrimary-disabled: #9a948d; /* disabled */
--bgColor-buttonPrimary-disabled: #9a948d; /* disabled */

/* Success */
--color-buttonPrimary-success: #c8c5ae; /* back */
--borderColor-buttonPrimary-success: green;
--bgColor-buttonPrimary-success: green;

/* Error */
--color-buttonPrimary-error: #c8c5ae; /* back */
--borderColor-buttonPrimary-error: #bb0e0e; /* error */
--bgColor-buttonPrimary-error: #bb0e0e; /* error */

/* --------- LINKS --------- */

/* Default */
--color-link: #624337; /* f_med */
--borderColor-link: #624337; /* f_med */
--bgColor-link: none;

/* Hover */
--color-link-hover: #3a4603; /* f_high */
--borderColor-link-hover: #3a4603; /* f_high */
--bgColor-link-hover: none;

/* Active */
--color-link-active: #3a4603; /* f_high */
--borderColor-link-active: #3a4603; /* f_high */
--bgColor-link-active: none;

/* Focus */
--color-link-focus: #3a4603; /* f_high */
--borderColor-link-focus: #3a4603; /* f_high */
--bgColor-link-focus: #3a4603; /* f_high */
--shadow-link-focus: none;

/* -----------------------
    PART: Input
----------------------- */

--color-input: #624337; /* f_med */
--borderColor-input: #624337; /* f_med */
--bgColor-input: #fff; /* white */

/* Hover */
--color-input-hover: #3a4603; /* f_high */
--borderColor-input-hover: #3a4603; /* f_high */
--bgColor-input-hover: #fff; /* white */
--shadow-input-hover: none;

/* Focus */
--color-input-focus: #3a4603; /* f_high */
--borderColor-input-focus: #3a4603; /* f_high */
--bgColor-input-focus: #fff; /* white */
--shadow-input-focus: none;

/* Checked */
--color-input-checked: #c8c5ae; /* back */
--borderColor-input-checked: #3a4603; /* f_high */
--bgColor-input-checked: #3a4603; /* f_high */
--shadow-input-checked: none;

/* Disabled */
--color-input-disabled: #9a948d; /* disabled */
--borderColor-input-disabled: #9a948d; /* disabled */
--bgColor-input-disabled: #fff; /* white */

/* Error */
--color-input-error: #bb0e0e; /* error */
--borderColor-input-error: #bb0e0e; /* error */
--bgColor-input-error: #fff; /* white */

/* Autofill */
--bgColor-input-autofill: none;

/* -----------------------
    PART: Label
----------------------- */

--color-inputLabel: #624337; /* f_med */

/* Hover */
--color-inputLabel-hover: #3a4603; /* f_high */

/* Focus */
--color-inputLabel-focus: #3a4603; /* f_high */

/* -----------------------
    PART: Icon
----------------------- */

--color-inputIcon: #624337; /* f_med */

/* Hover */
--color-inputIcon-hover: #3a4603; /* f_high */

/* Focus */
--color-inputIcon-focus: #3a4603; /* f_high */

/* Checked */
--color-inputIcon-checked: #3a4603; /* f_high */

/* Disabled */
--color-inputIcon-error:;

/* -----------------------
    PART: Placeholder
----------------------- */

--color-inputPlaceholder: #624337; /* f_med */

/* ---------- BADGES ----------- */

/* Default (completed) */
--color-badge: #3a4603; /* f_high */
--borderColor-badge: #3a4603; /* f_high */
--bgColor-badge: #c8c5ae; /* back */

/* Active */
--color-badge-active: #c8c5ae; /* back */
--borderColor-badge-active: #c8c5ae; /* back */
--bgColor-badge-active: #3a4603; /* f_high */

/* Disabled */
--color-badge-disabled: #624337; /* f_med */
--borderColor-badge-disabled: #c8c5ae; /* back */
--bgColor-badge-disabled: #fff; /* white */

/* --------- GLOBAL --------- */

/* Default */
--color-default: #624337; /* f_med */
--borderColor-default: #624337; /* f_med */
--bgColor-default: #c8c5ae; /* back */

/* Alt */
--color-alt: #624337; /* f_med */
--bgColor-alt: #c8c5ae; /* back */

/* Icon */
--color-icon: #624337; /* f_med */

/* Success */
--color-success: green;
--bgColor-success: #c8c5ae; /* back */

/* Error */
--color-error: #bb0e0e; /* error */
--borderColor-error: #bb0e0e; /* error */
--bgColor-error: #c8c5ae; /* back */

/* Info */
--bgColor-info: #c8c5ae; /* back */

/* Modal */
--bgColor-modal: #c8c5ae; /* back */
--bgColor-modalVeil: #c8c5ae; /* back */

}
