/* ---------- variables ---------- */

:root {
  --spacing_sm: 8px; /* spacing_sm */
  --spacing_md: 16px; /* spacing_md */
  --spacing_lg: 24px; /* spacing_lg */
  --spacing_xl: 48px; /* spacing_xl */

  /* spring */
  /*
  --darkBackColor: #1e2016;
  --lightBackColor: #d9c68f;
  --lightTextColor: #d9c68f;
  --darkTextColor: #1e2016;
  --textColorAccent: #71762a;
  */

  /* summer */
  --darkBackColor: #fff0b7;
  --lightBackColor: #fff0b7;
  --lightTextColor: #b25c02;
  --darkTextColor: #b25c02;
  --textColorAccent: #9b3313;

  /* fall */
  /*
  --darkBackColor: #161716;
  --lightBackColor: #f5d1ad;
  --lightTextColor: #a27c6a;
  --darkTextColor: #495249;
  --textColorAccent: #924723;
  */

  /* winter */
  /*
  --darkBackColor: #141514;
  --lightBackColor: #818181;
  --lightTextColor: #818181;
  --darkTextColor: #000;
  --textColorAccent: #fff;
  */

  --mainFont: "Wremena"; /* mainFont */
  --blackletterFont: "CalFrakturModern"; /* blackletterFont */
  --psychFont1: "Basteleur"; /* psychFont1 */
  --psychFont2: "Cooper Std"; /* psychFont2 */
  --titleFont3: "Distro Bold"; /* titleFont3 */

  --border_radius: 8px;
}

/* ----------- structure -------------- */

html {
  font-family: "Wremena"; /* mainFont */
  font-weight: lighter;
  font-size: 22px;
  line-height: 33px;
}

body.light {
  background: #fff0b7; /* lightBackColor */
  color: #b25c02; /* darkTextColor */
}

body.dark {
  background: #fff0b7; /* darkBackColor */
  color: #b25c02; /*lightTextColor */
}

body {
  margin: 0;
}

/* ---------- typography ----------- */

@font-face {
  font-family: "CalFrakturModern";
  src: url("webfonts/36901D_0_0.eot");
  src: url("webfonts/36901D_0_0.eot?#iefix") format("embedded-opentype"),
    url("webfonts/36901D_0_0.woff2") format("woff2"),
    url("webfonts/36901D_0_0.woff") format("woff"),
    url("webfonts/36901D_0_0.ttf") format("truetype");
}

@font-face {
  font-family: "Basteleur";
  src: url("webfonts/Basteleur-Bold.woff") format("woff"),
    url("webfonts/Basteleur-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Cooper Std";
  src: url("webfonts/CooperBlackStd.woff2") format("woff2"),
    url("webfonts/CooperBlackStd.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Distro Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Distro Bold"), url("webfonts/DISTROB_.woff") format("woff");
}

@font-face {
  font-family: "Distro Bats";
  font-style: normal;
  font-weight: normal;
  src: local("Distro Bats"), url("webfonts/DISTROBT.woff") format("woff");
}

@font-face {
  font-family: "Wremena";
  src: url("webfonts/Wremena-Light.woff2") format("woff2"),
    url("webfonts/Wremena-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Wremena";
  src: url("webfonts/Wremena-Bold.woff2") format("woff2"),
    url("webfonts/Wremena-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Wremena";
  src: url("webfonts/Wremena.woff2") format("woff2"),
    url("webfonts/Wremena.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

h1 {
  font-size: 5em;
  line-height: 0.9em;
  margin-top: 0;
  font-weight: 800;
  font-family: "Basteleur"; /* psychFont1 */
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

h2 {
  font-size: 1.9em;
  margin-top: 0;
  margin-bottom: 32px;
  font-weight: 500;
  font-family: "Distro Bold"; /* titleFont3 */
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

h2.blackletter {
  font-size: 2.3em;
}

h3 {
  margin-top: 0;
  line-height: 1.2em;
  font-family: "Distro Bold"; /* titleFont3 */
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

h3.blackletter {
  font-size: 2em;
  line-height: 1em;
  margin-bottom: 16px; /* spacing_md */
}

h4 {
  font-size: 1em;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

h4.blackletter {
  font-size: 1.5em;
}

p {
  margin-top: 24px; /* spacing_lg */
  margin-bottom: 24px; /* spacing_lg */
  margin-left: 0;
  margin-right: 0;
  display: block;
}

hr {
  border: 0;
  height: 2px;
  background-color: inherit;
}

blockquote {
  margin-top: 8px; /* spacing_sm */
  margin-left:0;
  margin-bottom:0;
  margin-right:0;
  font-size: 1.2em;
  color:#9b3313; /* textColorAccent */
  padding-left:16px; /* spacing_md */
  font-family:"Distro Bold"; /* titleFont3 */
  max-width:500px;
  border-left: 2px dotted;
}

blockquote strong {
  opacity:0.5;
  font-size:1rem;
}

a {
  color: inherit;
  cursor: pointer;
  font-family: "Wremena"; /* mainFont */
  font-weight: bold;
}

a:hover {
  color: #9b3313; /* textColorAccent */
}

strong {
  font-family: "Wremena"; /* mainFont */
  font-weight: bold;
}

.lighter {
  font-size: 16px;
  line-height: 20px;
}

.text-center {
  text-align: center;
}

.blackletter {
  font-family: "CalFrakturModern"; /* blackletterFont */
  -webkit-font-smoothing: none;
}

.psych-1 {
  font-family: "Basteleur"; /* psychFont1 */
  font-weight: 300;
}

.psych-2 {
  font-family: "Cooper Std"; /* psychFont2 */
}

.accent {
  color: #9b3313; /* textColorAccent */
}

.dingbats {
  font-family: "Distro Bats";
  font-size: 40px;
  color: #9b3313; /* textColorAccent */
}

.ornament {
  opacity: 0.3;
  width: 120px;
  height: 120px;
  margin-top: 24px; /* spacing_lg */
  background: #b25c02; /*lightTextColor */
  mask-image: url(/img/ornament-leaf-square.gif);
  mask-size: contain;
  -webkit-mask-image: url(/img/ornament-leaf-square.gif);
  -webkit-mask-size: contain;
}

/* -------------- utils ------------- */

.display-none {
  display: none;
}

figure {
  margin-right: 0;
  margin-left: 0;
}

figcaption {
  font-size: 14px;
  line-height: 14px;
  font-weight: normal;
  opacity: 0.4;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px; /* border_radius */
  overflow: hidden;
  line-height: 0;
}

.last-mod {
  padding-top: 16px; /* spacing_md */
  margin-top: 16px; /* spacing_md */
  border-top: 2px solid;
}

.checklist ul {
  padding: 0;
  margin-top:0;
  margin-right:0;
  margin-bottom: 24px; /* spacing_lg */
  margin-left:0;
  list-style: none;
}

.checklist input {
  margin-top: 8px; /* spacing_sm */
}

.checklist input::before {
  font-family: "Distro Bats";
  content: "~";
  font-size: 25px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  display: block;
  position: relative;
  top: -2px;
  color: #9b3313; /* textColorAccent */
  background: #fff0b7; /* darkBackColor */
}

.checklist input:checked::before {
  content: "|";
}

.table-of-contents {
  max-width:600px;
  padding-left: 16px; /* spacing_md */
  border-left:2px solid;
}

/* ------------ menu ------------- */

.menu ul {
  list-style:none;
  display:inline-block;
  padding:0;
  margin:0;
}

.menu ul li {
  display:inline-block;
}

.menu a {
  font-size: 20px;
  padding-right: 16px; /* spacing_md */
  text-decoration: none;
  position: relative;
  font-family: "Distro Bold"; /* titleFont3 */
  display: inline-block;
}

.resolution-toggle {
  margin-left:auto;
  display:inline-block;
  float:right;
}

.high {
  display:none;
}

.low {
  mix-blend-mode:multiply;
}

a.l {
  display:none;
}

html:target .high,
html:target a.l,
body:target a.h {
	display:block;
}

html:target .low,
html:target a.h,
body:target a.l{
	display:none;
}

.page-title {
  line-height: 50px;
  color: #9b3313; /* textColorAccent */
}

.page-title h1,
.page-title h2,
.page-title h3,
.page-title span {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  line-height: inherit;
}

.page-title h1 {
  font-size: 1.9em;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
}

.page-title h2 {
  font-size:1.17em;
}

.page-title span {
  padding-top: 0;
  padding-right: 8px; /* spacing_sm */
  padding-bottom:0;
  padding-left:8px; /* spacing_sm */
}

.page-title span:first-child {
  padding-top: 0;
  padding-right:8px; /* spacing_sm */
  padding-bottom:0;
  padding-left:0;
}

/* ---------- home ----------- */

.home-content .section {
  flex: 1;
}

.home-content .section ul {
  padding:0;
  margin:0;
  list-style:none;
}

.home-content h3 {
  padding-bottom: 16px; /* spacing_md */
  border-bottom: 2px dotted;
}

.icon {
  background: #b25c02; /*lightTextColor */
  mask-size: contain;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  width: 100%;
  height: 250px;
}

.list-page .icon,
.single-page .icon {
  margin-top: 24px; /* spacing_lg */
}

#icon-works {
  mask-image: url(/img/icon-works.gif);
  -webkit-mask-image: url(/img/icon-works.gif);
}

#icon-craft {
  mask-image: url(/img/icon-craft.gif);
  -webkit-mask-image: url(/img/icon-craft.gif);
}

#icon-folklore {
  mask-image: url(/img/icon-folklore.gif);
  -webkit-mask-image: url(/img/icon-folklore.gif);
}

#icon-food {
  mask-image: url(/img/icon-food.gif);
  -webkit-mask-image: url(/img/icon-food.gif);
}

.support {
  margin-top:16px; /* spacing_md */
}

.see-all {
  font-size: 18px;
  display: block;
  padding-top: 16px; /* spacing_md */
  text-decoration: none;
}

.bio .name {
  margin: 0;
  font-size: 34px;
}

.social {
  line-height: 24px;
}

.social svg {
  width: 24px;
  padding: 0 4px;
  fill: #9b3313; /* textColorAccent */
}

.social a {
  text-decoration: none;
}

.social svg:hover {
  fill: #9b3313; /* textColorAccent */
}

.categories {
  margin: 0 -16px; /* spacing_md */
}

.categories a {
  text-decoration: none;
  flex: 1;
  line-height: 0;
}

/* ---------- taxonomies ----------- */

.tag-page .title {
  color: #9b3313; /* textColorAccent */
}

.tag {
  padding-right: 8px; /* spacing_sm */
  opacity: 0.5;
  transition: 0.3s;
}

.tag:hover,
.tag.active {
  opacity: 1;
}

.tag svg {
  margin-right: 8px; /* spacing_sm */
  font-size: 12px;
  position: relative;
  top: -2px;
}

.tags {
  margin-top: 8px; /* spacing_sm */
  margin-bottom: 48px; /* spacing_xl */
  padding-left: 0;
}

.tags li {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  margin-left: -3px;
}

.tags li:first-child {
  margin-left: 0;
}

.tags li:before {
  content: ", ";
}

.tags li:first-child:before {
  content: "" !important;
}

.tags li:last-child:before {
  content: ", and ";
}

/* ---------- WORKS --------------- */

.project-card {
  text-decoration: none;
  margin-bottom: 48px; /* spacing_xl */
  display: block;
  page-break-inside: avoid;
  break-inside: avoid;
  -webkit-column-break-inside: avoid;
}

.project-card h4 {
  line-height: 2rem;
  margin: 0;
  padding-top:16px; /* spacing_md */
  font-size: 3em;
}

.project-card .desc {
  font-weight: normal;
}

.youtube-video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.youtube-video-container::after {
  display: block;
  content: "";
  padding-top: 56.25%;
}

.youtube-video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* ---------- FOLKLORE --------------- */

.folklore-card {
  text-decoration: none;
  margin-bottom: 48px; /* spacing_xl */
  display: block;
  page-break-inside: avoid;
  break-inside: avoid;
  -webkit-column-break-inside: avoid;
}

.folklore-card h4 {
  line-height: 2rem;
  margin: 0;
  padding-top:16px; /* spacing_md */
  font-size: 3em;
}

.folklore-card .desc {
  font-weight: normal;
}

.folk-notes {
  border: 2px solid;
  padding-top: 14px;
  padding-right: 24px; /* spacing_lg */
  padding-bottom: 24px; /* spacing_lg */
  padding-left: 24px; /* spacing_lg */
  border-radius: 12px;
}

.folk-notes .picture {
  display: none;
}

.folk-notes h4 {
  font-family: "Basteleur"; /* psychFont1 */
  font-weight: 300;
  font-size: 4em;
  line-height: 3.2rem;
  padding: 0;
  word-break: break-word;
}

.folk-notes h4:before {
  content: "Folk notes";
  font-family: "Cooper Std"; /* psychFont2 */
  font-weight: lighter;
  font-size: 22px;
  line-height: 40px;
  display: block;
}

/* -------- RECIPES ---------*/

.recipe-card {
  margin-bottom: 48px; /* spacing_xl */
  display: block;
  page-break-inside: avoid;
  break-inside: avoid;
  -webkit-column-break-inside: avoid;
}

.recipe-card h4 {
  line-height: 3rem;
  margin: 0;
  font-size: 3em;
}

.cooking-notes {
  border: 2px solid;
  padding-top: 14px;
  padding-right:24px; /* spacing_lg */
  padding-bottom:24px; /* spacing_lg */
  padding-left:24px; /* spacing_lg */
  border-radius: 12px;
}

.cooking-notes .picture {
  display: none;
}

.cooking-notes h4 {
  font-family: "Basteleur"; /* psychFont1 */
  font-weight: 300;
  font-size: 4em;
  line-height: 3.2rem;
  padding: 0;
  word-break: break-word;
}

.cooking-notes h4:before {
  content: "Cooking note";
  font-family: "Cooper Std"; /* psychFont2 */
  font-weight: lighter;
  font-size: 22px;
  line-height: 40px;
  display: block;
}

.recipes a {
  text-decoration: none;
}

.specs {
  margin-bottom: 8px; /* spacing_sm */
  font-size: 18px;
}

.ingredients {
  max-width: 300px;
  min-width: 300px;
  padding-right: 24px; /* spacing_lg */
  flex: 1;
}

.ingredients ul {
  margin: 0;
  padding-left: 20px;
  line-height: 14px;
}

.ingredients ul li {
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 16px; /* spacing_md */
}

.ingredients ul li p {
  margin: 0;
  font-size: 18px;
}

.recipe-content {
  display: flex;
  flex-direction: row;
}

.steps {
  flex: 3;
  max-width: 500px;
}

.steps ol {
  padding-left: 20px;
}

.steps ol li {
  margin-top:0;
  margin-right:0;
  margin-bottom:16px; /* spacing_md */
  margin-left:0;
}

.recipe em {
  font-style: initial;
  border-bottom: 1px solid;
}

.single .steps p {
  font-size: inherit;
}

.recipe .photo {
  margin-top: 24px; /* spacing_lg */
  border-radius: 8px; /* border_radius */
  border-radius: 8px; /* spacing_sm */
  overflow: hidden;
  line-height: 0;
}

/* -------- CRAFTS ---------*/

.craft-card {
  text-decoration: none;
  margin-bottom: 48px; /* spacing_xl */
  display: block;
  page-break-inside: avoid;
  break-inside: avoid;
  -webkit-column-break-inside: avoid;
}

.craft-card h4 {
  margin-top: 16px; /* spacing_md */
  margin-right:0;
  margin-bottom: 0;
  margin-left:0;
  font-size: 3em;
}

.craft-card .desc {
  font-weight: normal;
}

.craft-card.notes {
  border: 2px dashed;
  border-radius: 12px;
  padding-top:14px;
  padding-right:24px; /* spacing_lg */
  padding-bottom:10px;
  padding-left:24px; /* spacing_lg */
}

.craft-card.notes .picture {
  display: none;
}

.craft-card.notes h4 {
  font-family: "Basteleur"; /* psychFont1 */
  font-weight: 300;
  margin: 0;
  line-height: 3rem;
}

.craft-card.notes h4:before {
  content: "Craft note";
  font-family: "Cooper Std"; /* psychFont2 */
  font-weight: lighter;
  font-size: 22px;
  line-height: 40px;
  display: block;
}

.shop-link {
  border: 2px solid;
  padding-top: 14px;
  padding-right:24px; /* spacing_lg */
  padding-bottom:10px;
  padding-left:24px; /* spacing_lg */
  border-radius: 8px; /* border_radius */
  margin-top: 24px; /* spacing_lg */
}

/* --------- FILMS ----------- */

.film-card {
  text-decoration: none;
}

.film-card .movie-wrap {
  display: flex;
  flex-direction: row;
  margin-top:24px; /* spacing_lg */
  margin-left:0;
  margin-bottom:24px; /* spacing_lg */
  margin-right:0;
}

.film-card .director {
  font-size:18px;
  padding-bottom:16px; /* spacing_md */
  line-height:18px;
}

.movie {
  flex:3;
}

.film-card .desc {
  font-weight:100;
}

.film-card h3 {
  margin: 0;
}

.film-card em {
  margin-top:0;
  margin-right:0;
  margin-bottom:24px; /* spacing_lg */
  margin-left:0;
  display: block;
}

.movie-content {
  padding-left: 24px; /* spacing_lg */
  flex: 1;
}

/* -------- SINGLE PROJECTS ---------*/

.single-page h1 {
  margin-top: 0;
  margin-bottom: 0;
  color: #9b3313; /* textColorAccent */
}

.back-home {
  margin-bottom: 8px; /* spacing_sm */
}

.sidebar .back-home h3 {
  padding-bottom: 0;
  border-bottom: none;
}

.back-home a {
  transition: 0.3s;
  text-decoration: none;
}

.back-home a svg {
  margin-right: 16px; /* spacing_md */
  font-size: 16px;
}

.single p {
  font-size: 24px;
}

.single small {
  opacity: 0.5;
  font-size: 14px;
  line-height: 1.2em;
}

/* ------ containers ------ */

.full-wrap {
  padding: 0 2em;
  margin: 0;
  width: 100%;
  box-sizing:border-box;
}

.wrap {
  padding: 0 2em;
  max-width: 1000px;
  margin: 0;
}

.small-wrap {
  padding: 0 2em;
  max-width: 600px;
  margin: 0;
}

.sidebar {
  position: sticky;
  top:24px; /* spacing_lg */
  font-size: 18px;
  line-height: 24px;
  padding: 0 2em;
  max-width: 200px;
  min-width: 200px;
}

.sidebar h3 {
  padding-bottom: 16px; /* spacing_md */
  border-bottom: 2px dotted;
}

.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar a {
  font-size: inherit;
}

/* -------- FLEX ---------*/

.flex-row {
  display: -webkit-flex;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}

.flex-1 {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.flex-2 {
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.flex-3 {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
}

.flex-4 {
  -webkit-flex: 4;
  -ms-flex: 4;
  flex: 4;
}

.flex-5 {
  -webkit-flex: 5;
  -ms-flex: 5;
  flex: 5;
}

.flex-6 {
  -webkit-flex: 6;
  -ms-flex: 6;
  flex: 6;
}

.columns {
  column-count: 3;
}

.columns-2 {
  -webkit-column-width: 400px;
  -moz-column-width: 400px;
  column-width: 400px;
}

.columns p {
  margin: 0;
}

.row {
  display:flex;
  flex-direction:row;
  margin: 0 -8px; /* spacing_sm */
}

.half {
  flex:1;
  line-height:0;
  padding-top:0;
  padding-right: 8px; /* spacing_sm */
  padding-bottom:0;
  padding-left: 8px; /* spacing_sm */
}

.half p {
  margin-top:0;
  margin-right:0;
  margin-bottom:16px; /* spacing_md */
  margin-left:0;
}

/* -------- PADDING ---------*/

.no-padding-left {
  padding-left: 0;
}

.no-padding-bottom {
  padding-bottom: 0 !important;
}

.small-padding {
  padding: 15px;
}

.small-padding-left {
  padding-left: 15px;
}

.small-padding-right {
  padding-right: 15px;
}

.small-padding-top {
  padding-top: 15px;
}

.small-padding-bottom {
  padding-bottom: 15px;
}

.medium-padding {
  padding: 30px;
}

.medium-padding-top {
  padding-top: 30px;
}

.medium-padding-bottom {
  padding-bottom: 30px;
}

.medium-padding-right {
  padding-right: 30px;
}

.medium-padding-left {
  padding-left: 30px;
}

.big-padding {
  padding: 60px;
}

.big-padding-top {
  padding-top: 60px;
}

.big-padding-bottom {
  padding-bottom: 60px;
}

.big-padding-left {
  padding-left: 60px;
}

.big-padding-right {
  padding-right: 60px;
}

/* -------- MARGINS ---------*/

.small-margin-top {
  margin-top: 15px;
}

.small-margin-left {
  margin-left: 15px;
}

.small-margin-right {
  margin-right: 15px;
}

.small-margin-bottom {
  margin-bottom: 15px;
}

.medium-margin-top {
  margin-top: 30px;
}

.medium-margin-bottom {
  margin-bottom: 30px;
}

.no-margin {
  margin: 0;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.mobile {
  display: none;
}

.desktop {
  display: block;
}

.flex-row.desktop {
  display: -webkit-flex;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
}

/* -------- footer --------- */

.footer {
  line-height: 50px;
  font-weight: bold;
  height: 50px;
  font-size: 18px;
}

.footer span {
  display: inline-block;
  vertical-align: middle;
  padding-right: 16px; /* spacing_md */
  line-height: 50px;
}

.webring {
  display: inline-block;
  margin-right:16px; /* spacing_md */
}

.webring svg {
  stroke: #9b3313; /* textColorAccent */
  width: 40px;
  height: auto;
}

/* -------- MOBILE --------- */

@media screen and (max-width: 599px) {
  body {
    width: 100%;
    overflow-x: hidden;
    font-size: 18px;
    line-height: 28px;
  }
  h1 {
    font-size: 3em;
    margin-bottom: 8px; /* spacing_sm */
  }
  h2 {
    font-size: 1.8em;
  }
  h3 {
    font-size: 20px;
  }
  figcaption {
    padding-top: 8px; /* spacing_sm */
  }
  .dingbats {
    font-size: 35px;
  }
  .craft-card.notes h4, .cooking-notes h4, .folk-notes h4 {
    font-size:3em;
    line-height: 2.5rem;
  }
  .recipe-card h4 {
    font-size: 2.5em;
    padding-top: 8px; /* spacing_sm */
    line-height: 2rem;
  }
  .single-page {
    flex-direction:column-reverse;
    width:100%;
  }
  .list-page .icon, .single-page .icon {
    margin-left: auto;
    margin-right: auto;
    width: 173px;
  }
  .list-page {
    flex-direction: column-reverse;
    width:100%;
  }
  .mobile {
    display: block;
  }
  .desktop,
  .flex-row.desktop {
    display: none;
  }
  .wrap,
  .small-wrap,
  .full-wrap,
  .sidebar {
    padding: 0 24px; /* spacing_lg */
  }
  .sidebar {
    max-width:100%;
    position:static;
    padding-top: 24px; /* spacing_lg */
  }
  .back-home {
    margin-bottom: 24px; /* spacing_lg */
  }
  .big-padding-top {
    padding-top: 30px;
  }
  .top-page-row {
    display: block;
  }
  .bio {
    margin-top:16px; /* spacing_md */
  }
  .profile-pic .photo {
    width: 80px;
    height: 115px;
  }
  .profile-pic {
    display:none;
    max-width: 80px;
    min-width: 80px;
    margin-bottom: 16px; /* spacing_md */
  }
  .page-title {
    height: auto;
    line-height: 30px;
    text-align:center;
  }
  .page-title h3 {
    display: block;
  }
  .bio.mobile {
    display: flex;
  }
  .categories .flex-row {
    display: block;
  }
  .footer {
    height: auto;
  }
  .footer .flex-row {
    display: block;
  }
  .footer span {
    line-height: 28px;
  }
  .food .flex-row {
    display: block;
  }
  .food .resources {
    margin-top: 48px; /* spacing_xl */
  }
  .recipe-content {
    display: block;
  }
  .recipe-content .ingredients {
    padding-top: 16px; /* spacing_md */
  }
  .recipe-content .steps {
    padding-top: 16px; /* spacing_md */
  }
  .home-content .flex-row {
    flex-direction: column;
  }
  .home-content .section {
    padding-top: 16px; /* spacing_md */
  }
  .ornament {
    display: none;
  }
  .columns {
    column-count: 1 !important;
  }
}
