/* variables */

:root {
  --spacing_sm: 8px;
  --spacing_md: 16px;
  --spacing_lg: 24px;
  --spacing_xl: 48px;

  /* spring */
  /* --backColor: #161716; */
  /* --textColor: #a27c6a; */
  /* --textColorAccent: #7f915e; */

  /* summer */
  /* --backColor: #161716; */
  /* --textColor: #a27c6a; */
  /* --textColorAccent: #7f915e; */

  /* fall */
  --backColor: #161716;
  --textColor: #a27c6a;
  --textColorAccent: #924723;

  /* winter */
  /* --backColor: #161716; */
  /* --textColor: #a27c6a; */
  /* --textColorAccent: #7f915e; */

  --cardShadow: 0 1px 22px #0000002e;
  --cardShadowRaised: 0 10px 42px #0000007a;

  --mainFont: "CalFrakturModern";
  --psychFont1: "Juniper Std";
  --psychFont2: "Cooper Std";

  --borderRadius: 8px;
}

/* structure */

html {
  font-family: "Wremena";
  font-weight: lighter;
  font-size: 22px;
  line-height: 33px;
  background: var(--backColor);
  color: var(--textColor);
}

body {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

/* typography */

@font-face {
  font-family: "CalFrakturModern";
  src: url("webfonts/36901D_0_0.eot");
  src: url("webfonts/36901D_0_0.eot?#iefix") format("embedded-opentype"),
    url("webfonts/36901D_0_0.woff2") format("woff2"),
    url("webfonts/36901D_0_0.woff") format("woff"),
    url("webfonts/36901D_0_0.ttf") format("truetype");
}

@font-face {
  font-family: "Juniper Std";
  src: url("webfonts/JuniperStd.woff2") format("woff2"),
    url("webfonts/JuniperStd.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cooper Std";
  src: url("CooperBlackStd.woff2") format("woff2"),
    url("CooperBlackStd.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Distro";
  font-style: normal;
  font-weight: normal;
  src: local("Distro"), url("webfonts/DISTRO__.woff") format("woff");
}

@font-face {
  font-family: "Distro Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Distro Bold"), url("webfonts/DISTROB_.woff") format("woff");
}

@font-face {
  font-family: "Distro Black";
  font-style: normal;
  font-weight: normal;
  src: local("Distro Black"), url("webfonts/DISTROBL.woff") format("woff");
}

@font-face {
  font-family: "Distro Bats";
  font-style: normal;
  font-weight: normal;
  src: local("Distro Bats"), url("webfonts/DISTROBT.woff") format("woff");
}

@font-face {
  font-family: "Distro Heavy";
  font-style: normal;
  font-weight: normal;
  src: local("Distro Heavy"), url("webfonts/DISTROH_.woff") format("woff");
}

@font-face {
  font-family: "Distro Light";
  font-style: normal;
  font-weight: normal;
  src: local("Distro Light"), url("webfonts/DISTROL_.woff") format("woff");
}

@font-face {
  font-family: "Wremena";
  src: url("webfonts/Wremena-Light.woff2") format("woff2"),
    url("webfonts/Wremena-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Wremena";
  src: url("webfonts/Wremena-Bold.woff2") format("woff2"),
    url("webfonts/Wremena-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Wremena";
  src: url("webfonts/Wremena.woff2") format("woff2"),
    url("webfonts/Wremena.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

h1 {
  font-size: 6em;
  line-height: 0.8em;
  margin-top: 0;
  font-weight: 800;
  font-family: var(--psychFont1);
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: none;
}

h2 {
  font-size: 1.9em;
  margin-top: 0;
  margin-bottom: 32px;
  font-weight: 500;
  font-family: "Distro Bold";
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: none;
}

h2.blackletter {
  font-size: 2.3em;
}

h3 {
  margin-top: 0;
  line-height: 1.2em;
  font-family: "Distro Bold";
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: none;
}

h3.blackletter {
  font-size: 2em;
  line-height: 1em;
  margin-bottom: var(--spacing_md);
}

h4 {
  font-size: 1em;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: none;
}

h4.blackletter {
  font-size: 1.5em;
}

h5 {
}

p {
  margin: var(--spacing_lg) 0;
  display:block;
}

hr {
  border: 0;
  height: 2px;
  background-color: var(--textColor);
}

.green {
  color:var(--textColorAccent);
}

blockquote {
  margin:var(--spacing_sm) 0 0 0;
  font-size:1.2em;
  font-style: italic;
}

a {
  color: var(--textColor);
  cursor: pointer;
  font-family: "Wremena";
  font-weight: bold;
}

a:hover {
  color: var(--textColorAccent);
}

strong {
  font-family: "Wremena";
  font-weight: bold;
}

.lighter {
  font-size: 16px;
  line-height: 20px;
}

.text-center {
  text-align: center;
}

.blackletter {
  font-family: var(--mainFont);
  -webkit-font-smoothing: none;
}

.psych-1 {
  font-family: var(--psychFont1);
  font-weight: 300;
  -webkit-font-smoothing: none;
}

.psych-2 {
  font-family: "Cooper Std";
}

.dingbats {
  font-family: "Distro Bats";
  font-size: 40px;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: none;
  color: var(--textColorAccent);
}

.ornament {
  opacity:0.3;
  max-width:120px;
  margin-top:var(--spacing_lg);
}

/* utils */

.display-none {
  display: none;
}

figure {
  margin-right: 0;
  margin-left: 0;
}

figcaption {
  font-size: 14px;
  line-height: 14px;
  font-weight: normal;
  opacity: 0.4;
}

img {
  border-radius: 8px;
  overflow: hidden;
  line-height: 0;
}

.tags {
  margin-top: var(--spacing_sm);
  margin-bottom: var(--spacing_xl);
  padding-left: 0;
}

.tags li {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  margin-left: -3px;
}

.tags li:first-child {
  margin-left: 0;
}

.tags li:before {
  content: ", ";
}

.tags li:first-child:before {
  content: "" !important;
}

.tags li:last-child:before {
  content: ", and ";
}

.last-mod {
  padding-top: var(--spacing_md);
  margin-top: var(--spacing_md);
  border-top: 2px solid;
}

/* menu */

.menu a {
  font-size: 20px;
  padding-right: var(--spacing_md);
  text-decoration: none;
  position: relative;
  font-family: "Distro Bold";
  display: inline-block;
}

.page-title {
  line-height: 50px;
  color: var(--textColorAccent);
}

.page-title h2,
.page-title h3,
.page-title span {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  line-height: inherit;
}

.page-title span {
  padding: 0 var(--spacing_sm);
}

.page-title span:first-child {
  padding: 0 var(--spacing_sm) 0 0;
}

/* ---------- home ----------- */

.home-content .section {
  flex:1;
}

.home-content h3 {
  padding-bottom:var(--spacing_md);
  border-bottom:2px dotted;
}

.profile-pic {
  max-width: 120px;
  min-width: 120px;
  margin-right: 24px;
}

.profile-pic .photo {
  border-radius: 60px;
  overflow: hidden;
  width: 120px;
  height: 180px;
  background:var(--textColorAccent);
}

.profile-pic .photo img {
  opacity:0.4;
}

.bio {
  margin-top: 0;
}

.see-all {
  font-size:18px;
  display:block;
  padding-top:var(--spacing_md);
  text-decoration: none;
}

.bio .name {
  margin: 0;
  font-size: 34px;
}

.social {
  line-height: 24px;
}

.social svg {
  width:24px;
  padding: 0 4px;
  fill: var(--textColor);
}

.social a {
  text-decoration: none;
}

.social svg:hover {
  fill: var(--textColorAccent);
}

.categories {
  margin: 0 -16px;
}

.categories a {
  text-decoration: none;
  flex: 1;
  line-height: 0;
}

.category {
  text-align: center;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  min-height: 300px;
  max-height: 300px;
  line-height: 300px;
  margin: var(--spacing_md);
  box-sizing: border-box;
  letter-spacing: 5px;
  transition: 0.5s;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.category:hover {
  letter-spacing: 15px;
  background-color: var(--textColorFaded);
}

.category img {
  object-fit: cover;
  width: 100%;
  mix-blend-mode: multiply;
}

.category h2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  margin: 0;
}

/* ---------- taxonomies ----------- */

.tag-page .title {
  color:var(--textColorAccent);
}


/* ---------- works --------------- */

.old-project {
  margin-right: 16px;
  margin-bottom: 32px;
  max-width: calc(25% - 16px);
  min-width: calc(25% - 16px);
}

.old-project .desc {
  font-size: 14px;
  line-height: 18px;
  padding-top: var(--spacing_sm);
}

.old-project .images {
  min-height: 200px;
  width: 100%;
  margin-bottom: 16px;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}

.old-project.video:hover .img {
  opacity: 0;
}

.old-project .img {
  min-height: 200px;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  opacity: 1;
  transition: 0.3s;
}
.old-project .gif {
  min-height: 200px;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
}

.old-project .title h3 {
  margin: 0;
  font-size: 16px;
}

.old-project.website .browser-bar {
  display: block;
  background: var(--backColor);
}

.old-project.website .img {
  border: 2px solid var(--backColor);
  background-position: center 24px;
  box-sizing: border-box;
  border-radius: 4px;
}

.old-project .indicator {
  position: absolute;
  bottom: 8px;
  left: 8px;
  width: calc(100% - 16px);
  display: flex;
  flex-direction: row;
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}

.hover-slider:hover .indicator {
  opacity: 1;
}

.hover-slider {
  overflow: hidden;
  position: relative;
}

.old-project .indicator .bar {
  flex: 1;
  margin: 0 4px;
  height: 3px;
  border-radius: 1.5px;
  background: #000;
  opacity: 0.1;
}

.old-project .indicator .bar.active {
  opacity: 0.5;
}

.hover-slider .images-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  transition: 0.4s;
  animation-timing-function: ease-in-out;
}

.images-container.not-loaded {
  filter: blur(50px);
  transform: scale(2);
}

.browser-bar {
  -webkit-border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-topright: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  background: #d4d4d4;
  color: var(--backColor);
  position: relative;
  width: 100%;
  height: 24px;
  line-height: 24px;
  padding-left: 4px;
  display: none;
}

.oilandsugar-symbol {
  opacity: 0.5;
  font-size: 14px;
  line-height: 1.5em;
}

.oilandsugar-symbol .symbol {
  max-width: 100px;
}

.oilandsugar-symbol .symbol svg {
  max-width: 100%;
}

.oilandsugar-symbol .symbol svg path,
.oilandsugar-symbol .symbol svg polygon {
  fill: var(--textColor);
}

/* -------- SHOP ---------*/

.shop {
  margin: 0 -12px;
}

.product {
  margin: 0 12px var(--spacing_lg) 12px;
  max-width: calc(33.3333% - 24px);
  min-width: calc(33.3333% - 24px);
  color: var(--textColor);
  font-size: 24px;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: var(--cardShadow);
  transition: 0.5s;
  overflow: hidden;
  min-height: 350px;
  text-decoration: none;
}

.product:hover {
  box-shadow: var(--cardShadowRaised);
}

.product h4 {
  margin: 0;
}

.product .price {
  font-size: 18px;
  line-height: 1.8em;
}

.product .desc p.spec {
  font-size: 12px;
  margin-bottom: 0;
}

.product .picture {
  line-height: 0;
  background-size: cover;
  background-position: center;
  min-height: 300px;
}

#theme-toggle svg {
  margin-right: 8px;
}

.filters {
  text-align: left;
  margin-left: auto;
  margin-bottom: var(--spacing_md);
}

.tag {
  padding-right: 8px;
  opacity: 0.5;
  transition: 0.3s;
}

.tag:hover,
.tag.active {
  opacity: 1;
}

.tag svg {
  margin-right: 8px;
  font-size: 12px;
  position: relative;
  top: -2px;
}

.footer {
  line-height: 50px;
  font-weight: bold;
  height: 50px;
  font-size: 18px;
}

.footer span {
  display: inline-block;
  vertical-align: middle;
  padding-right: var(--spacing_md);
  line-height: 50px;
}

.old-row {
  margin-right: -16px;
}

.webring {
  display: inline-block;
  margin-left: auto;
}

.webring svg {
  stroke: var(--textColor);
  width: 40px;
  height: auto;
}

/* -------- RECIPES ---------*/

.recipe-card {
  margin-bottom: var(--spacing_xl);
  display: block;
}

.cooking-notes {
  border: 2px solid;
  padding: 14px var(--spacing_lg) 10px var(--spacing_lg);
  border-radius: 8px;
}

.cooking-notes .picture {
  display: none;
}

.cooking-notes h4 {
  font-family: var(--psychFont1);
  font-weight: 300;
  font-size: 4em;
  line-height: 1em;
  padding: 0;
}

.cooking-notes h4:before {
  content: "Cooking note";
  font-family: var(--psychFont2);
  font-weight: lighter;
  font-size: 22px;
  line-height: 40px;
  display: block;
}

.recipes a {
  text-decoration: none;
}

.recipe-card h4 {
  margin: 0;
  font-size: 3em;
}

.specs {
  margin-bottom: var(--spacing_sm);
  font-size: 18px;
}

.ingredients {
  max-width: 300px;
  min-width: 300px;
  padding-right: var(--spacing_lg);
  flex: 1;
}

.ingredients ul {
  margin: 0;
  padding-left: 20px;
  line-height: 14px;
}

.ingredients ul li {
  margin: 0 0 var(--spacing_md) 0;
}

.ingredients ul li p {
  margin: 0;
  font-size: 18px;
}

.recipe-content {
  display: flex;
  flex-direction: row;
}

.steps {
  flex: 3;
  max-width: 500px;
}

.steps ol {
  padding-left: 20px;
}

.steps ol li {
  margin: 0 0 var(--spacing_md) 0;
}

.recipe em {
  font-style: initial;
  border-bottom: 1px solid;
}

.single .steps p {
  font-size: inherit;
}

.recipe .photo {
  margin-top: var(--spacing_lg);
  border-radius: var(--spacing_sm);
  overflow: hidden;
  line-height: 0;
}

/* -------- MOVIES ---------*/

.movie {
  display:flex;
  flex-direction:row;
  margin: var(--spacing_lg) 0;
}

.movie p {
  margin:0;
  flex:2;
}

.movie h3 {
  margin:0;
}

.movie em {
  margin:0 0 var(--spacing_lg) 0;
  display:block;
}

.movie div {
  padding-left:var(--spacing_lg);
  flex:1;
}

.movie div p {

}

/* -------- CRAFTS ---------*/

.craft .old-project {
  max-width:100%;
}

.craft .notes .title a {
  padding: var(--spacing_md) 0 var(--spacing_sm) 0;
  border-top: 2px dashed;
  border-bottom: 2px dashed;
  display:block;
}

.craft .notes .images {
  display:none;
}

.craft .notes .title a {
  text-decoration:none;
}

.craft .notes .title h3 {
  font-size:40px;
}

.shop-link {
  border: 2px solid;
  padding: 14px var(--spacing_lg) 10px var(--spacing_lg);
  border-radius:8px;
  margin-top: var(--spacing_lg);
}

/* -------- SINGLE PROJECTS ---------*/

.single-page h1 {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--textColorAccent);
}

.back-home {
  margin-bottom: var(--spacing_sm);
}

.sidebar .back-home h3 {
  padding-bottom:0;
  border-bottom:none;
}

.back-home a {
  transition: 0.3s;
  text-decoration: none;
}

.back-home a svg {
  margin-right: 16px;
  font-size: 16px;
}

.single p {
  font-size: 24px;
}

.single small {
  opacity: 0.5;
  font-size: 14px;
  line-height: 1.2em;
}

/* ------ containers ------ */

.full-wrap {
  padding: 0 2em;
  margin: 0;
  width: 100%;
}

.wrap {
  padding: 0 2em;
  max-width: 1000px;
  margin: 0;
}

.small-wrap {
  padding: 0 2em;
  max-width: 600px;
  margin: 0;
}

.sidebar {
  font-size: 18px;
  line-height: 24px;
  padding: 0 2em;
  max-width: 200px;
  min-width: 200px;
}

.sidebar h3 {
  padding-bottom:var(--spacing_md);
  border-bottom:2px dotted;
}

.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar a {
  font-size: inherit;
}

/* -------- FLEX ---------*/

.flex-row {
  display: -webkit-flex;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}

.flex-1 {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.flex-2 {
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.flex-3 {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
}

.flex-4 {
  -webkit-flex: 4;
  -ms-flex: 4;
  flex: 4;
}

.flex-5 {
  -webkit-flex: 5;
  -ms-flex: 5;
  flex: 5;
}

.flex-6 {
  -webkit-flex: 6;
  -ms-flex: 6;
  flex: 6;
}

.columns {
  column-count: 3;
}

/* -------- PADDING ---------*/

.no-padding-left {
  padding-left: 0;
}

.no-padding-bottom {
  padding-left: 0!important;
}

.small-padding {
  padding: 15px;
}

.small-padding-left {
  padding-left: 15px;
}

.small-padding-right {
  padding-right: 15px;
}

.small-padding-top {
  padding-top: 15px;
}

.small-padding-bottom {
  padding-bottom: 15px;
}

.medium-padding {
  padding: 30px;
}

.medium-padding-top {
  padding-top: 30px;
}

.medium-padding-bottom {
  padding-bottom: 30px;
}

.medium-padding-right {
  padding-right: 30px;
}

.medium-padding-left {
  padding-left: 30px;
}

.big-padding {
  padding: 60px;
}

.big-padding-top {
  padding-top: 60px;
}

.big-padding-bottom {
  padding-bottom: 60px;
}

.big-padding-left {
  padding-left: 60px;
}

.big-padding-right {
  padding-right: 60px;
}

/* -------- MARGINS ---------*/

.small-margin-top {
  margin-top: 15px;
}

.small-margin-left {
  margin-left: 15px;
}

.small-margin-right {
  margin-right: 15px;
}

.small-margin-bottom {
  margin-bottom: 15px;
}

.medium-margin-top {
  margin-top: 30px;
}

.medium-margin-bottom {
  margin-bottom: 30px;
}

.no-margin {
  margin: 0;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.mobile {
  display: none;
}

.desktop {
  display: block;
}

.flex-row.desktop {
  display: -webkit-flex;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
}

/* -------- MOBILE ---------*/

@media screen and (max-width: 599px) {
  body {
    width: 100%;
    overflow-x: hidden;
    font-size: 18px;
    line-height: 28px;
  }
  h1 {
    font-size: 3em;
    margin-bottom: var(--spacing_sm);
  }
  h2 {
    font-size: 1.5em;
  }
  h3 {
    font-size: 20px;
  }
  .dingbats {
    font-size: 25px;
  }
  .single-page {
    display: block;
  }
  .recipe-card h4 {
    font-size: 2.5em;
    padding-top: var(--spacing_sm);
  }
  .section-pages {
    display: none;
  }
  .list-page {
    flex-direction: column-reverse;
  }
  .mobile {
    display: block;
  }
  .desktop,
  .flex-row.desktop {
    display: none;
  }
  .wrap,
  .small-wrap,
  .full-wrap,
  .sidebar {
    padding: 0 24px;
  }
  .back-home {
    margin-bottom: var(--spacing_lg);
  }
  .big-padding-top {
    padding-top: 30px;
  }
  .old-title {
    padding-top: 60px;
  }
  .top-page-row {
    display: block;
  }
  .profile-pic .photo {
    width: 80px;
    height: 115px;
  }
  .profile-pic {
    max-width: 80px;
    min-width: 80px;
    margin-bottom: 16px;
  }
  .old-row {
    margin-right: 0;
  }
  .old-project {
    max-width: 100%;
    min-width: 100%;
    margin-right: 0;
  }
  .current-row-scroll {
    margin-bottom: 30px;
  }
  ::-webkit-scrollbar-thumb {
    background: #fff;
  }
  .old-title {
    display: block;
  }
  .filters {
    text-align: left;
    margin-bottom: 16px;
  }
  .tag {
    display: block;
  }
  .oilandsugar-symbol {
    flex-direction: column;
  }
  .oilandsugar-symbol .symbol {
    max-width: 100%;
    text-align: center;
    padding-bottom: 20px;
  }
  .oilandsugar-symbol .symbol svg {
    width: 80px;
  }
  .shop-row {
    flex-direction: column;
  }
  .product {
    max-width: 100%;
    margin-right: 0;
  }
  .product-desc p {
    margin-top: 0;
  }
  .page-title {
    height: auto;
    line-height: 30px;
  }
  .page-title h3 {
    display: block;
  }
  .bio.mobile {
    display: flex;
  }
  .old-project .desc {
    font-size: 16px;
    line-height: 16px;
  }
  .sigils-symbols .flex-row {
    display: block;
  }
  .category {
    min-height: 0;
    max-height: none;
  }
  .categories .flex-row {
    display: block;
  }
  .footer {
    height: auto;
  }
  .footer .flex-row {
    display: block;
  }
  .footer span {
    line-height: 28px;
  }
  .food .flex-row {
    display: block;
  }
  .food .resources {
    margin-top: var(--spacing_xl);
  }
  .recipe-content {
    display: block;
  }
  .recipe-content .ingredients {
    padding-top: var(--spacing_md);
  }
  .recipe-content .steps {
    padding-top: var(--spacing_md);
  }
  .home-content .flex-row {
    flex-direction: column;
  }
  .home-content .section {
    padding-top:var(--spacing_md);
  }
}
