body { background:var(--background) !important; }
#picker { background-color:var(--b_inv) !important; color:var(--f_inv) !important; }
#picker:before { color:var(--f_med) !important; }
#picker input::placeholder { color:var(--f_med) !important; }
.fh { color:var(--f_high) !important; stroke:var(--f_high) !important; }
.fm { color:var(--f_med) !important; stroke:var(--f_med) !important; }
.fl { color:var(--f_low) !important; stroke:var(--f_low) !important; }
.f_inv { color:var(--f_inv) !important; stroke:var(--f_inv) !important; }
.bh { background:var(--b_high) !important; }
.bm { background:var(--b_med) !important; }
.bl { background:var(--b_low) !important; }
.b_inv { background:var(--b_inv) !important; }
.icon { color:var(--f_high) !important; stroke:var(--f_high) !important; }

/*
@media (prefers-color-scheme: dark) {
    body {
        background: var(--b_inv)!important;
        color: var(--f_inv);
    }
    .image-background {
        background: var(--background);
    }
    .accent, h1, h2 {
        color: var(--background);
    }
    #icon-stamp {
        background-color: var(--background);
    }
    .dingbats path,  .social svg:hover {
        fill: var(--f_inv);
    }
    a, a h1, a h2 {
        color:var(--b_med);
    }
    a:hover, a:hover h1, a:hover h2 {
        color: var(--f_inv);
    }
    button {
        background: var(--b_inv);
        color:var(--b_med);
    }
    a.button, .sidebar a.button {
        background: var(--b_high);
        color: var(--f_inv);
    }
    a.button svg rect,
    a.button svg path,
    a.button svg circle  {
        fill: var(--f_inv);
    }
    a.button:hover, .sidebar a.button:hover {
        background: var(--b_med);
    }
    button:hover {
        color: var(--b_inv);
        border-color: var(--background);
        background: var(--background);
    }
    .banner {
        background: var(--b_high);
    }
    .banner:hover, {
        background: var(--b_med);
    }
    .shop-banner-img {
        background-color: var(--f_inv);
    }
    .low-contrast, .subdued {
        color: var(--f_med);
    }
    .notes {
        background: var(--b_high);
    }
}*/

body.dark {
    background: var(--b_inv)!important;
    color: var(--f_inv);
}
body.dark .image-background {
    background: var(--background);
}
body.dark .accent,body.dark h1,body.dark h2 {
    color: var(--background);
}
body.dark #icon-stamp {
    background-color: var(--background);
}
body.dark .dingbats path, body.dark .social svg:hover {
    fill: var(--f_inv);
}
body.dark a {
    color:var(--b_med);
}
body.dark button {
    background: var(--b_high);
    color:var(--b_med);
}
body.dark a.button, body.dark .sidebar a.button {
    background: var(--b_high);
    color: var(--f_inv);
}
body.dark a.button svg rect,
body.dark a.button svg path,
body.dark a.button svg circle  {
    fill: var(--f_inv);
}
body.dark a.button:hover, body.dark .sidebar a.button:hover {
    background: var(--b_med);
}
body.dark a:hover {
    color: var(--f_inv);
}
body.dark button:hover {
    color: var(--b_inv);
    background: var(--background);
}
body.dark .menu button svg path {
    fill:var(--b_med);
}
body.dark .menu button:hover svg path {
    fill: var(--b_inv);
}
body.dark .banner {
    background: var(--b_high);
}
body.dark .banner:hover {
    background: var(--b_med);
}
body.dark .shop-banner-img {
    background-color: var(--f_inv);
}
body.dark .low-contrast,body.dark .subdued {
    color: var(--f_med);
}