{{ partial "header" . }}

<main>
  <div class="flex-row big-padding-top list-page">
    {{ partialCached "sidebars/folkloreList" . }}
    <article>
      <div class="small-wrap">
        {{ partial "listPageTitle" . }}
        <div class="intro">
          {{ .Params.desc }}
        </div>
      </div>
      <div class="full-wrap">
        <div class="folklore big-padding-top columns-2">
          {{ range where .RegularPages "Type" "folklore" }}
            {{ partial "folkloreCard.html" . }}
          {{ end }}
        </div>
      </div>
    </article>
  </div>
</main>

{{ partialCached "footer" . }}
