{{ partial "header" . }}

<div class="flex-row big-padding-top list-page">
  <div class="sidebar">
    <h3>Notes</h3>
    <ul class="section-pages">
    {{ range .Paginator.Pages }}
      <li>
        <a href="{{ .Permalink }}">{{ .Title }}</a>
      </li>
    {{ end }}
    </ul>
    <div class="ornament"></div>
  </div>
  <div class="wrap">
    <div class="page-title">
      <span class="dingbats">l</span>
      <h2 class="psych-1">{{ .Title }}</h2>
      <span class="dingbats">l</span>
      <h3 class="psych-2">Reflections and wonderings</h3>
    </div>
    <div class="intro">
      {{ .Params.intro }}
    </div>
    <div class="big-padding-top">
      {{ .Content }}
    </div>
  </div>
</div>

{{ partial "footer" . }}
