{{ partial "header" . }}
<style>

    main {
        {{ with .Params.background }}background:#{{ . }};{{ end }}
        {{ with .Params.textPrimary }}color:#{{ . }};{{ end }}
    }
    main .accent {
        {{ with .Params.textSecondary }}color:#{{ . }};{{ end }}
    }
    main img {
        {{ with .Params.textPrimary }}background-color:#{{ . }};{{ end }}
    }
    main .low {
        {{ with .Params.background }}mix-blend-mode:normal;{{ end }}
    }
</style>

<main class="page-sidebar">
    {{ partialCached "sidebars/folkloreSingle" . }}
    <article class="flow">
        {{ partial "pageTitle" . }}
        {{ partial "tags" .}}
        <div class="page-content">
            {{ .Content }}
        </div>
        {{ partial "page-meta" . }}
    </article>
</main>

{{ partialCached "footer" . }}
