{{ partialCached "header" . }}
<style>

main {
    {{ with .Params.background }}background:#{{ . }};{{ end }}
    {{ with .Params.textPrimary }}color:#{{ . }};{{ end }}
}
main .accent {
  {{ with .Params.textSecondary }}color:#{{ . }};{{ end }}
}
main img {
  {{ with .Params.textPrimary }}background-color:#{{ . }};{{ end }}
}
main .low {
  mix-blend-mode:normal;
  width:100%;
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;                                
  image-rendering: -webkit-optimize-contrast;
}
</style>

<main>
  <div class="flex-row big-padding-top big-padding-bottom single-page">
      <aside class="sidebar">
        <div class="back-home">
          <a href="/{{ .Section }}/">Back to {{ .Section }}</a>
        </div>
        {{ $section := where $.Site.RegularPages "Section" "folklore"}}
        <h3 class="accent">Pages</h3>
        <div class="small-padding-bottom">
          <ul class="section-pages">
          {{ range $section }}
            {{ if not (in .Params.tags "folk-notes") }}
              <li>
                <a href="{{ .Permalink }}">{{ .Title }}</a>
              </li>
            {{ end }}
          {{ end }}
          </ul>
        </div>
        <h3 class="accent">Notes</h3>
        <div class="small-padding-bottom">
          <ul class="section-pages">
          {{ range $section }}
            {{ if in .Params.tags "folk-notes" }}
              <li>
                <a href="{{ .Permalink }}">{{ .Title }}</a>
              </li>
            {{ end }}
          {{ end }}
          </ul>
        </div>
        <div id="icon-folklore" class="icon"></div>
      </aside>
    <article class="wrap">
      <span class="dingbats accent">{{ partialCached "icons/diamond" . }}</span>
      <h1 class="psych-1 accent">{{ .Title }}</h1>
      {{ with (.GetTerms "tags") }}
        <ul class="tags">
          Tagged with {{ range . }}
          <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
          {{ end }}
        </ul>
      {{ end }}
      <div class="intro">
        {{.Params.intro}}
      </div>
      <div class="big-padding-top">
        {{ .Content }}
        {{ if not .Lastmod.IsZero }}
          <div class="last-mod small-padding-top">
            Last modified on <strong>{{ .Lastmod.Format "2006-01-02" | safeHTML }}</strong>,
            published on <strong>{{ .Date.Format "2006-01-02" | safeHTML }}</strong>
          </div>
        {{ end }}
      </div>
    </article>
  </div>
</main>

{{ partialCached "footer" . }}
