{{ partial "header" . }}

<main>
  <div class="flex-row big-padding-top single-page">
    <div>
      <aside class="sidebar">
        <div class="back-home">
          <a href="/{{ .Section }}/"><h3>Back to {{ .Section }}</h3></a>
        </div>
        {{ $section := where $.Site.RegularPages "Section" "folklore"}}
        <h3 class="accent">Notes</h3>
        <ul class="section-pages">
        {{ range $section }}
          <li>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
          </li>
        {{ end }}
        </ul>
        <div id="icon-folklore" class="icon"></div>
      </aside>
    </div>
    <article class="wrap">
      <h1 class="psych-1">{{ .Title }}</h1>
      {{ with (.GetTerms "tags") }}
        <ul class="tags">
          Tagged with {{ range . }}
          <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
          {{ end }}
        </ul>
      {{ end }}
      <div class="intro">
        {{.Params.intro}}
      </div>
      <div class="big-padding-top">
        {{ .Content }}
        {{ if not .Lastmod.IsZero }}
          <div class="last-mod small-padding-top">
            Last modified on <strong>{{ .Lastmod.Format "2006-01-02" | safeHTML }}</strong>,
            published on <strong>{{ .Date.Format "2006-01-02" | safeHTML }}</strong>
          </div>
        {{ end }}
      </div>
    </article>
  </div>
</main>

{{ partial "footer" . }}
