{{ partialCached "header" . }}

<main>
  <div class="flex-row big-padding-top list-page">
    <div>
      <aside class="sidebar">
        {{ if (eq $.Parent.Title "About") }}
        <div class="back-home">
          <a href="/{{ .Section }}/"><h3>Back to {{ .Section }}</h3></a>
        </div>
        {{ end }}
        <h3 class="accent">Films</h3>
        <ul>
          {{ range where .Pages "Type" "films" }}
            <li>
              <a href="{{ .Permalink }}">{{ .Title }}</a>
            </li>
          {{ end }}
        </ul>
      </aside>
    </div>
    <article>
      <div class="small-wrap craft">
        <div class="page-title">
          <span class="dingbats">{{ partialCached "icons/diamond" . }}</span>
          <h2 class="psych-1">{{ .Title }}</h2>
          <span class="dingbats">{{ partialCached "icons/diamond" . }}</span>
          <h3 class="psych-2">{{ .Params.subtitle }}</h3>
        </div>
        <div class="intro">
          {{ .Params.intro }}
        </div>
      </div>
      <div class="wrap">
        <div class="big-padding-top">
          {{ if (eq $.Parent.Title "Films") }}
            {{ range where .Pages "Type" "films" }}
              {{ partial "filmCard.html" . }}
            {{ end }}
          {{ else }}
          {{ range where .Site.RegularPages "Type" "films" }}
            {{ partial "filmCard.html" . }}
          {{ end }}
          {{ end }}
        </div>
      </div>
    </article>
  </div>
</main>

{{ partialCached "footer" . }}
