{{ partial "header" . }}

<main>
  <div class="flex-row big-padding-top list-page">
    <div>
    {{ partial "sidebars/filmsList" . }}
    </div>
    <article>
      <div class="small-wrap craft">
        {{ partial "listPageTitle" . }}
        <div class="intro">
          {{ .Params.desc }}
        </div>
      </div>
      <div class="wrap">
        <div class="big-padding-top">
          {{ if (eq $.Parent.Title "Films") }}
            {{ range where .Pages "Type" "films" }}
              {{ partial "filmCard.html" . }}
            {{ end }}
          {{ else }}
          {{ range where .Site.RegularPages "Type" "films" }}
            {{ partial "filmCard.html" . }}
          {{ end }}
          {{ end }}
        </div>
      </div>
    </article>
  </div>
</main>

{{ partialCached "footer" . }}
