{{ partial "header" . }}

<main class="page-sidebar">
    {{ partial "sidebars/journalList" . }}
    <article class="flow">
        {{ partial "pageTitle" . }}
        <div class="measured">
            {{ .Content }}
        </div>
        <div class="page-content">
            <div class="journal-entries measured">
                {{ range where .RegularPages "Type" "journal" }}
                {{ partial "journalEntry.html" . }}
                {{ end }}
            </div>
        </div>
    </article>
</main>

{{ partialCached "footer" . }}
